---
import Badge from "@/components/Badge.astro";
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";

export const frontmatter = {
  title: "Zahlen und Fakten",
  sitemap: true,
};

type DsData = {
  title: string;
  elements: {
    badge: {
      iconName: string;
      text: string;
    };
    count: string;
    description: string;
  }[];
}[];

const dsData: DsData = [
  {
    title: "Digitalcheck und Visualisierungen (seit 2023)",
    elements: [
      {
        badge: {
          iconName: "outline-local-activity",
          text: "Regelungschecks",
        },
        count: "850+",
        description:
          "Regelungsvorhaben haben sich mit der digitalen Umsetzung auseinandergesetzt.",
      },
      {
        badge: {
          iconName: "outline-local-activity",
          text: "Regelungschecks",
        },
        count: "120+",
        description:
          "Visualisierte Wirklogiken, durch die Komplexität reduziert und Verständlichkeit geschaffen wurde.",
      },
    ],
  },
  {
    title: "Wissenstransfer und Unterstützung (seit 2023)",
    elements: [
      {
        badge: {
          iconName: "outline-volunteer-activism",
          text: "Unterstützung",
        },
        count: "400+",
        description:
          "Geschulte Mitarbeitende: Seit 2023 gibt es Schulungen und Roadshows zu Visualisierungen und Digitaltauglichkeit, in denen wir langfristige Kompetenzen aufbauen.",
      },
      {
        badge: {
          iconName: "outline-volunteer-activism",
          text: "Unterstützung",
        },
        count: "15+",
        description:
          "Begleitungen durch interdisziplinäre Teams: Bei besonders komplexen Vorhaben standen unsere Regelungsbegleitungen den Legistinnen und Legisten direkt zur Seite.",
      },
      {
        badge: {
          iconName: "outline-volunteer-activism",
          text: "Unterstützung",
        },
        count: "170+",
        description:
          "Service-Anfragen: Der kurze Dienstweg zu Expertinnen und Experten, für Fragen und Sparring.",
      },
    ],
  },
  {
    title: "Fokusfeld Interoperabilität (seit Juni 2025)",
    elements: [
      {
        badge: {
          iconName: "outline-star-outline",
          text: "Interoperabilität",
        },
        count: "17",
        description: "Vorhaben hatten einen Interoperabilitätsbezug.",
      },
      {
        badge: {
          iconName: "outline-star-outline",
          text: "Interoperabilität",
        },
        count: "18",
        description:
          "Ausführliche Beratungsfälle zum Thema Interoperabilität hat das Team durchgeführt.",
      },
      {
        badge: {
          iconName: "outline-star-outline",
          text: "Interoperabilität",
        },
        count: "4",
        description:
          "Vorhaben wurden zur Transparenz auf dem Interoperable Europe Portal eingereicht.",
      },
    ],
  },
  {
    title: "Ressortübergreifende Vernetzung",
    elements: [
      {
        badge: {
          iconName: "outline-share",
          text: "Vernetzung",
        },
        count: "20+",
        description:
          "Interministerielle Arbeitsgruppen haben die Erarbeitung des Digitalcheck begleitet.",
      },
    ],
  },
];
---

<Layout title={frontmatter.title}>
  <main class="breakout-grid">
    <Hero>
      <h1>Das Zentrum für Legistik in Zahlen</h1>
      <p>
        Seit Januar 2023 setzt die Bundesregierung den Fokus auf
        digitaltaugliche Regelungen (Digitalcheck) und begleitet Legistinnen und
        Legisten in den Bundesministerien auf dem Weg dorthin.
      </p>
      <p>2026 markiert den Beginn des Zentrum für Legistik.</p>
      <p>
        Die Daten auf dieser Seite zeigen, wie unsere Instrumente und
        Unterstützungsangebote – zum Beispiel Digitalcheck, Begleitungen,
        Schulungen und Prozessvisualisierung – die Gesetzgebung in der Praxis
        verändern. Die verschiedenen Werkzeuge und Prozesse der Frühphase werden
        jetzt im Zentrum für Legistik schrittweise zusammengeführt und
        weiterentwickelt.
      </p>
    </Hero>

    <section>
      {
        dsData.map(({ title, elements }) => (
          <Fragment>
            <h2>{title}</h2>
            <ul class="list-unstyled mt-md gap-md grid items-stretch justify-between sm:grid-cols-2 lg:grid-cols-3">
              {elements.map((el) => (
                <li class="bg-lavender-base p-md min-w-240 space-y-16">
                  <Badge look="white">
                    <Icon slot="icon" name={`ic:${el.badge.iconName}`} />
                    {el.badge.text}
                  </Badge>
                  <p class="ds-heading-02-bold">{el.count}</p>
                  <p>{el.description}</p>
                </li>
              ))}
            </ul>
          </Fragment>
        ))
      }
    </section>
  </main>
</Layout>
