---
import Link from "@/components/Link.astro";
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  preline?: string;
  title: string;
  href: string;
  subline: string;
  body: string;
  image?: ImageMetadata;
  imageAlt?: string;
  imageSource?: string;
}

const { preline, title, href, subline, body, image, imageAlt, imageSource } =
  Astro.props;
---

<article class="kern-card kern-card--interactive">
  {
    image && imageAlt && (
      <div class="kern-card__media relative">
        <Image src={image} alt={imageAlt} class="h-208 object-cover" />
        {imageSource && (
          <p class="absolute right-0 bottom-0 w-auto! rounded-none! bg-black/40 px-4 text-xs text-white">
            Quelle: {imageSource}
          </p>
        )}
      </div>
    )
  }
  <div class="kern-card__container">
    <header class="kern-card__header">
      <hgroup>
        {preline && <p class="kern-preline">{preline}</p>}
        <h2 class="kern-title">
          <Link href={href} class="kern-link--stretched">{title}</Link>
        </h2>
        <p class="kern-subline">{subline}</p>
      </hgroup>
    </header>
    <section class="kern-card__body">
      <p class="kern-body">{body}</p>
    </section>
  </div>
</article>
