---
import { Icon } from "astro-icon/components";
import Card, { styles } from "@/components/Card.astro";
import Link from "@/components/Link.astro";
import type { VariantProps } from "tailwind-variants";
import { ZFL_EMAIL, ZFL_PHONE } from "@/config/constants";

type Props = VariantProps<typeof styles>;

const { look } = Astro.props;
---

<Card look={look}
  ><Icon
    name="ic:twotone-phone-enabled"
    class="text-cosmic-blue-400 size-lg hidden -scale-x-100 sm:block"
    slot="icon"
  />
  <h2>Kontaktieren Sie uns</h2>
  <div class="space-y-8">
    <p>
      Wir unterstützen Sie gerne persönlich in allen Phasen der Regelungsarbeit.
    </p>
    <p>
      Telefon: <Link href={ZFL_PHONE.url}>{ZFL_PHONE.display}</Link>
    </p>
    <p>
      E-Mail: <Link href={ZFL_EMAIL.url}>{ZFL_EMAIL.display}</Link>
    </p>
  </div>
</Card>
