---
import Card from "@/components/Card.astro";
import Hero from "@/components/Hero.astro";
import Link from "@/components/Link.astro";
import { ZFL_EMAIL, ZFL_PHONE } from "@/config/constants";
import begleitungenImage from "@/images/Begleitungen.png";
import trainingsImage from "@/images/Trainings.jpg";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { getImage, Image } from "astro:assets";

const trainingsImageAsset = await getImage({ src: trainingsImage });
const trainingsImageAssetURL = `url("${trainingsImageAsset.src}")`;

export const frontmatter = {
  title: "Begleitungen",
  sitemap: true,
};
---

<Layout title={frontmatter.title}>
  <main class="breakout-grid max-md:overflow-x-hidden">
    <Hero>
      <h1>Begleitung für Vorhaben</h1>
      <div class="relative mt-40 gap-32 space-y-40 md:flex md:flex-row">
        <div>
          <h2>
            Interdisziplinäre Expertise für praxisnahe und bürokratiearme
            Regelungen nutzen
          </h2>
          <p>
            Ein interdisziplinäres Team mit Kompetenzen in Design,
            Nutzerforschung, IT, Produkt- und Prozessmanagement begleitet Sie
            vertraulich und mit individuellem Fokus auf Ihr Vorhaben.
          </p>
          <p>
            Nehmen Sie das Angebot bereits im frühen Erarbeitungsprozess in
            Anspruch, damit die Begleitung die größte Wirkung erzielen kann.
          </p>
          <p>
            <strong
              >Kontaktieren Sie uns, um eine Begleitung für Ihr Vorhaben
              anzufragen:
            </strong>
          </p>
          <p>
            Telefon:
            <Link href={ZFL_PHONE.url}>{ZFL_PHONE.display}</Link>
          </p>
          <p>
            E-Mail:
            <Link href={ZFL_EMAIL.url}>{ZFL_EMAIL.display}</Link>
          </p>
        </div>
        <Image
          class="max-md:hero-image-overlay md:size-288"
          src={begleitungenImage}
          alt=""
        />
      </div>
    </Hero>

    <section class="py-80">
      <h2>Wirkung der Zusammenarbeit</h2>

      <p>
        Wir unterstützen Sie dabei, Umsetzungsprozesse zu verstehen und
        Anforderungen an praxisnahe und bürokratiearme Regelungen umzusetzen.
      </p>
      <p>
        Durch Ihre Rechtsetzungs-Expertise in Kombination mit Methoden aus der
        agilen Software-Entwicklung entstehen somit praxistaugliche und
        zukunftsfähige Gesetze, die unter anderem die Potenziale der
        Digitalisierung bestmöglich ausschöpfen.
      </p>

      <h3 class="mt-40">So unterstützen wir Sie konkret:</h3>

      <div class="mt-16 flex gap-32 max-md:flex-col">
        <div class="flex gap-16 md:flex-col md:gap-32">
          <Icon
            class="text-cosmic-blue-400 size-40 flex-none md:size-80"
            name="ic:twotone-account-tree"
          />
          <div class="space-y-8">
            <h3 class="ds-heading-03-bold sm:hyphens-none md:pr-32">
              Sachverhalte visualisieren
            </h3>
            <p>
              Komplexe Sachverhalte durch Prozess-Visualisierungen
              strukturieren, interne und externe Abstimmung vereinfachen
            </p>
          </div>
        </div>
        <div class="flex gap-16 md:flex-col md:gap-32">
          <Icon
            class="text-cosmic-blue-400 size-40 flex-none md:size-80"
            name="ic:twotone-lightbulb"
          />
          <div class="space-y-8">
            <h3 class="ds-heading-03-bold sm:hyphens-none md:pr-32">
              Umsetzung mitdenken
            </h3>
            <p>
              Betroffenen-Perspektive frühzeitig identifizieren, bestehende
              Umsetzungshürden beheben
            </p>
          </div>
        </div>
        <div class="flex gap-16 md:flex-col md:gap-32">
          <Icon
            class="text-cosmic-blue-400 size-40 flex-none md:size-80"
            name="ic:twotone-hub"
          />
          <div class="space-y-8">
            <h3 class="ds-heading-03-bold sm:hyphens-none md:pr-32">
              Prozesse strukturieren
            </h3>
            <p>
              Methodische Unterstützung nutzen, Anleitungen für Praxis- und
              Digitaltauglichkeit erhalten
            </p>
          </div>
        </div>
      </div>
    </section>

    <div
      class=`breakout mt-40 py-80 bg-cover bg-center`
      style={{ backgroundImage: trainingsImageAssetURL }}
    >
      <Card>
        <h2>
          Praxisbeispiel: Einsatz eines interdisziplinären Kompetenzteams für
          das Stromsteuerrecht
        </h2>
        <p>
          „Die gründliche Analyse von Vollzugsprozessen hat uns geholfen, das
          Zusammenspiel zwischen den Regelungen und der Administration besser zu
          verstehen und so den digitalen Vollzug zu gestalten.“
        </p>
        <Link
          href="https://digitalcheck.bund.de/beispiele/regelungen/gesetz-zur-modernisierung-und-zum-buerokratieabbau-im-strom-und-energiesteuerrecht"
        >
          Mehr erfahren
        </Link>
      </Card>
    </div>
  </main>
</Layout>
