---
import SupportCard from "@/components/blocks/SupportCard.astro";
import Card from "@/components/Card.astro";
import Hero from "@/components/Hero.astro";
import Link from "@/components/Link.astro";
import begleitungenImage from "@/images/Begleitungen.png";
import trainingsImage from "@/images/Trainings.jpg";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { getImage, Image } from "astro:assets";

const trainingsImageAsset = await getImage({ src: trainingsImage });
const trainingsImageAssetURL = `url("${trainingsImageAsset.src}")`;

export const frontmatter = {
  title: "Regelungsbegleitung",
  sitemap: true,
};

const tableData = {
  header: ["Kriterien", "Paket S", "Paket M", "Paket L"],
  rows: [
    {
      label: "Fokus",
      s: "Punktuelle Unterstützung bei Ihrer Fragestellung",
      m: "Vertiefte Analyse Ihres Vorhabens",
      l: "Langfristige Begleitung des Gesetzgebungsprozesses",
    },
    {
      label: "Dauer",
      s: "1 gemeinsame Arbeitssitzung",
      m: "ca. 4 Wochen",
      l: "Ab 5 Wochen",
    },
    {
      label: "Team",
      s: ["1–2 Expert:innen aus:", "Service Design", "Nutzerforschung"],
      m: [
        "3–4 Expert:innen aus:",
        "Service Design",
        "Nutzerforschung",
        "Softwareentwicklung",
        "Produktmanagement",
        "Transformationsmanagement",
      ],
      l: [
        "3–4 Expert:innen aus",
        "Service Design",
        "Nutzerforschung",
        "Softwareentwicklung",
        "Produktmanagement",
        "Transformationsmanagement",
      ],
    },
    {
      label: "Zeitpunkt",
      s: "Individuell nach Bedarf",
      m: "Konzept- bis Entwurfsphase",
      l: "Ab Start der Initiative",
    },
    {
      label: "Tätigkeit (Beispiele)",
      s: [
        "Umsetzungsperspektive besser verstehen",
        "gemeinsam visualisieren",
        "technische Fragen beantworten",
      ],
      m: [
        "Umsetzungsperspektive auf technischer, organisatorischer und rechtlicher Ebene durchdenken",
        "technische Lösungsideen entwickeln",
        "Machbarkeit validieren",
      ],
      l: [
        "Gemeinsame Analyse",
        "Unterstützung bei Workshops und Hausabstimmungen",
        "moderierter Austausch mit Umsetzungsakteuren",
        "Evaluation von Lösungen",
      ],
    },
  ],
};
---

<Layout title={frontmatter.title}>
  <main class="breakout-grid max-md:overflow-x-hidden">
    <Hero>
      <h1>Regelungsbegleitung</h1>
      <div class="relative mt-24 gap-32 md:flex md:flex-row">
        <div>
          <h2>Individuelle Unterstützung für Ihr Vorhaben nutzen</h2>
          <p>
            Ein in Gesetzgebungspraxis erfahrenes interdisziplinäres Team
            unterstützt Sie dabei, die Regelung praxisnah, digitaltauglich und
            bürokratiearm zu gestalten.
            <br /><br />
            Vertraulich und mit individuellem Fokus auf Ihr Vorhaben stehen Ihnen
            während der Begleitung Kompetenzen in Design, Nutzerforschung, IT, Produkt-
            und Prozessmanagement direkt zur Verfügung.
          </p>
          <div class="mt-16">
            <a class="btn btn-primary gap-8"
              ><Icon
                name="ic:baseline-arrow-downward"
                class="inline-block h-36 w-36"
              />Leistungspakete anzeigen</a
            >
          </div>
        </div>
        <Image
          class="max-md:hero-image-overlay md:size-288"
          src={begleitungenImage}
          alt=""
        />
      </div>
    </Hero>

    <section class="py-80" >
      <h2>Ergebnisse der Zusammenarbeit</h2>

      <p>
        Wir unterstützen Sie dabei, Umsetzungsprozesse zu verstehen und
        Anforderungen an praxisnahe und bürokratiearme Regelungen umzusetzen.
        Durch Ihre Rechtsetzungs-Expertise in Kombination mit Methoden aus der
        agilen Software-Entwicklung entstehen somit praxistaugliche und
        zukunftsfähige Gesetze, die unter anderem die Potenziale der
        Digitalisierung bestmöglich ausschöpfen.
      </p>

      <div class="gap24 mt-40 flex max-md:flex-col">
        <div class="flex gap-6 md:flex-col md:gap-32">
          <Icon
            class="text-cosmic-blue-400 bg-lavender-400 flex-none px-[18px] py-[22px] md:h-[100px] md:w-[110px]"
            name="ic:twotone-account-tree"
          />

          <div class="space-y-8">
            <h3 class="ds-heading-03-bold sm:hyphens-none md:pr-32">
              Sachverhalte visualisieren
            </h3>
            <p>
              Komplexe Sachverhalte durch Prozess-Visualisierungen
              strukturieren, interne und externe Abstimmung vereinfachen
            </p>
          </div>
        </div>
        <div class="flex gap-16 md:flex-col md:gap-32">
          <Icon
            class="text-cosmic-blue-400 bg-lavender-400 flex-none px-[18px] py-[22px] md:h-[100px] md:w-[110px]"
            name="ic:twotone-lightbulb"
          />
          <div class="space-y-8">
            <h3 class="ds-heading-03-bold sm:hyphens-none md:pr-32">
              Umsetzung mitdenken
            </h3>
            <p>
              Betroffenen-Perspektive frühzeitig identifizieren, bestehende
              Umsetzungshürden beheben
            </p>
          </div>
        </div>
        <div class="flex gap-16 md:flex-col md:gap-32">
          <Icon
            class="text-cosmic-blue-400 bg-lavender-400 flex-none px-[18px] py-[22px] md:h-[100px] md:w-[110px]"
            name="ic:twotone-hub"
          />
          <div class="space-y-8">
            <h3 class="ds-heading-03-bold sm:hyphens-none md:pr-32">
              Prozesse strukturieren
            </h3>
            <p>
              Methodische Unterstützung nutzen, Anleitungen für Praxis- und
              Digitaltauglichkeit erhalten
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="w-[854px]">
      <h2>Passende Leistungspakete für Ihr Vorhaben</h2>
      <p class="pb-40">
        In der folgenden Tabelle finden Sie unsere verschiedenen
        Unterstützungsangebote im Vergleich. Alle Angebote sind kostenfrei und
        werden vom BMDS finanziert.
      </p>
        <table class="w-full table-fixed">
          <thead>
            <tr>
              {
                tableData.header.map((header, index) => (
                  <th scope="col" class={`table-header-cell ${index === 0 ? 'w-[150px]' : 'w-[235px]'}`}>
                    <div class="flex items-center gap-2">{header}</div>
                  </th>
                ))
              }
            </tr>
          </thead>
          <tbody
            >{
              tableData.rows.map((row, index) => (
                <tr class={index % 2 === 0 ? "bg-white" : "bg-lavender-200"}>
                  {/* first column: label */}
                  <td class="table-body-cell font-bold w-[150px]">{row.label}</td>

                  {/* data of package s, m and l*/}
                  {[row.s, row.m, row.l].map((cell) => (
                    <td class="table-body-cell wrap-break-word w-[235px]">
                      {Array.isArray(cell) ? (
                        <div>
                          {cell[0]}
                        </div>
                        <ul>
                          {cell.map((item, index) => (
                              index !== 0 &&  (
                                <li>
                                  {item}
                                </li>
                              )
                          ))}
                        </ul>
                      ) : (
                        cell
                      )}
                    </td>
                  ))}
                </tr>
              ))
            }
          </tbody>
        </table>
    </section>
    <section class="bg-lavender-base breakout py-80">
      <SupportCard />
    </section>
    <section
      class=`breakout py-80 bg-cover bg-center`
      style={{ backgroundImage: trainingsImageAssetURL }}
    >
      <Card>
        <h2>
          Praxisbeispiel: Einsatz eines interdisziplinären Kompetenzteams für
          das Stromsteuerrecht
        </h2>
        <p>
          „Die gründliche Analyse von Vollzugsprozessen hat uns geholfen, das
          Zusammenspiel zwischen den Regelungen und der Administration besser zu
          verstehen und so den digitalen Vollzug zu gestalten.“
        </p>
        <Link
          href="https://digitalcheck.bund.de/beispiele/regelungen/gesetz-zur-modernisierung-und-zum-buerokratieabbau-im-strom-und-energiesteuerrecht"
        >
          Mehr erfahren
        </Link>
      </Card>
    </section>
  </main>
</Layout>
