---
import Card from "@components/Card.astro";
import Hero from "@components/Hero.astro";
import Link from "@components/Link.astro";
import { ZFL_EMAIL, ZFL_PHONE } from "@config/constants";
import Layout from "@layouts/Layout.astro";

export const frontmatter = {
  title: "Daran arbeiten wir",
  sitemap: true,
};
---

<Layout title={frontmatter.title}>
  <main class="breakout-grid">
    <Hero variant="gray">
      <h1>Daran arbeiten wir</h1>
      <p>
        Das Zentrum für Legistik wird gemeinsam mit Ihnen als Legistinnen und
        Legisten weiterentwickelt. Wir passen unsere Unterstützungsangebote
        regelmäßig an Ihre Rückmeldungen und die Erfahrungen aus der Praxis an.
        So stellen wir sicher, dass die angebotenen Hilfen tatsächlich Ihren
        Arbeitsalltag erleichtern.
      </p>
      <p>
        Wir möchten Sie einladen, uns Rückmeldung zu unseren Angeboten zu geben
        oder an kurzen Praxistests teilzunehmen. Ihr Erfahrungswissen hilft uns,
        die Hilfsmittel und Werkzeuge so zu gestalten, dass sie in der täglichen
        Arbeit tatsächlich nützlich sind. Der zeitliche Aufwand ist überschaubar
        und wird vorab mit Ihnen abgestimmt.
      </p>
      <p>
        Kontaktieren Sie uns zu diesem Zweck unter
        <Link href={ZFL_PHONE.url}>{ZFL_PHONE.display}</Link>
        oder
        <Link href={ZFL_EMAIL.url}>{ZFL_EMAIL.display}</Link>.
      </p>
      <p>
        Gut zu wissen: Das Zentrum für Legistik ist ein Bestandteil des
        Handlungsfelds „Bessere Rechtsetzung“ in der Modernisierungsagenda.<br
        />
        <Link
          href="https://bmds.bund.de/themen/staatsmodernisierung/modernisierungsagenda-bund#c2065"
          >Weitere Informationen zur Modernisierungsagenda</Link
        >
      </p>
    </Hero>

    <section class="breakout breakout-grid bg-lavender-base py-80">
      <h2>Aktuelle Arbeitspakete in Konzeption und Umsetzung</h2>
      <p>
        In dieser Phase erarbeiten wir fachliche Anforderungen, prüfen
        Lösungswege und stellen die Inhalte dann zur Nutzung bereit. Ihre
        Rückmeldungen an dieser Stelle stellen die Praxistauglichkeit sicher.
      </p>

      <Card wrapperClass="mt-40">
        <h3>Strukturierung der Frühphase für Regelungsvorhaben</h3>
        <p>
          Ein gutes, frühzeitiges Verständnis von Anforderungen und Umfeld ist
          die Basis dafür, Gesetze wirksam und effizient umzusetzen. Wie können
          wir diese frühe Phase in der Rechtsetzung, für Legistinnen und
          Legisten, besser strukturieren und unterstützen?<br />
          <Link
            href={`${ZFL_EMAIL.url}?subject=Interesse%20am%20Thema%20%22Strukturierung%20der%20Fr%C3%BChphase%20f%C3%BCr%20Regelungsvorhaben%22`}
            >Mitarbeiten an diesem Thema</Link
          >
          (öffnet E-Mail)
        </p>

        <h3 class="mt-32">Konsolidierung der Instrumente</h3>
        <p>
          Unterschiedliche Checks und Arbeitshilfen (wie z.&nbsp;B. der
          <Link href="https://digitalcheck.bund.de/">Digitalcheck</Link>,
          <Link href="https://www.gleichstellungs-check.de/"
            >Gleichstellungscheck</Link
          >
          oder
          <Link href="https://jugend-check.de/">Jugendcheck</Link>) zielen in
          Teilen auf die gleiche Wirkung ab: Praxis- und digitaltaugliche
          Regelungen und Bürokratierückbau. Bei der Zusammenführung diverser
          Ansätze verfolgen wir das Ziel, Ihre Regelungsarbeit einfacher und
          effizienter zu gestalten.<br />
          <Link
            href={`${ZFL_EMAIL.url}?subject=Interesse%20am%20Thema%20%22Konsolidierung%20der%20Instrumente%22`}
            >Mitarbeiten an diesem Thema</Link
          > (öffnet E-Mail)
        </p>

        <h3 class="mt-32">Erweiterung der Schulungs-Angebote</h3>
        <p>
          In den umsetzungsorientierten Schulungen des Zentrum für Legistik
          lernen Sie Methoden und Werkzeuge kennen, die Sie bei der Erarbeitung
          von praxisnahen und bürokratiearmen Regelungen unterstützen.<br />
          <Link
            href={`${ZFL_EMAIL.url}?subject=Interesse%20am%20Thema%20%22Erweiterung%20der%20Schulungs-Angebote%22`}
            >Mitarbeiten an diesem Thema</Link
          > (öffnet E-Mail)
        </p>

        <h3 class="mt-32">Ausbau der Regelungsbegleitung</h3>
        <p>
          Wir unterstützen Sie dabei, Umsetzungsprozesse zu verstehen und
          Anforderungen an praxisnahe und bürokratiearme Regelungen umzusetzen.
          Wir erweitern das Angebot in Inhalt und Umfang.<br />
          <Link
            href={`${ZFL_EMAIL.url}?subject=Interesse%20am%20Thema%20%22Ausbau%20der%20Regelungsbegleitung%22`}
            >Mitarbeiten an diesem Thema</Link
          > (öffnet E-Mail)
        </p>
      </Card>
    </section>

    <section class="py-80">
      <h2>Verfügbare Angebote</h2>
      <p>
        <em
          >Die erste Version der Website des Zentrum für Legistik wurde am
          05.01.2026 veröffentlicht.</em
        >
      </p>
      <p>Bereits für Ihre Arbeit an Regelungen nutzbar:</p>
      <ul>
        <li>
          <strong>Schulungen</strong>: In Schulungen praktisches Wissen erlangen
        </li>
        <li>
          <strong>Projektbegleitung</strong>: Unterstützung Ihres
          Regelungsvorhabens durch interdisziplinäre Expertise
        </li>
        <li>
          <strong>Digitaltauglichkeit</strong>: Zugang zur Prüfung und Beratung
          via
          <Link href="https://digitalcheck.bund.de/">Digitalcheck</Link>
        </li>
      </ul>
    </section>
  </main>
</Layout>
