---
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import KernCard from "@/components/KernCard.astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import { ZFL_EMAIL, ZFL_PHONE } from "@/config/constants";

export const frontmatter = {
  title: "Werkzeuge",
  sitemap: false,
  isStagingOnly: true,
};

const allTools = await getCollection("werkzeuge");

type Category = (typeof allTools)[number]["data"]["category"][number];

const getFilteredTools = (category: Category) =>
  allTools.filter((tool) => tool.data.category.includes(category));

const categories = [
  {
    id: "problemanalyse",
    title: "ein Problem besser verstehen und analysieren",
    tools: getFilteredTools("Problemanalyse"),
  },
  {
    id: "digital-und-praxistauglichkeit",
    title: "Digital- und Praxistauglichkeit sicherstellen",
    tools: getFilteredTools("Praxistauglichkeit"),
  },
  {
    id: "rechtsfoermlichkeit",
    title: "die Rechtsförmlichkeit des Vorhabens gewährleisten",
    tools: getFilteredTools("Rechtsförmlichkeit"),
  },
  {
    id: "beteiligung",
    title: "näher mit Beteiligten arbeiten",
    tools: getFilteredTools("Beteiligung"),
  },
];

const types = ["Methode", "Tool", "Leitfaden"] as const; // "Ressource"
const BOOKMARKED_TYPE = "Gemerkte Werkzeuge";
---

<Layout title={frontmatter.title}>
  <main
    class="breakout-grid"
    x-data="werkzeuge"
    data-bookmarkedtype={BOOKMARKED_TYPE}
  >
    <Hero level="main">
      <h1>{frontmatter.title}</h1>
      <p slot="subtitle">
        Auf dieser Seite finden Sie Werkzeuge, die Sie bei der Regelungsarbeit
        unterstützen: hilfreiche Links zu Anleitungen, Hilfsmittel und Tools.
        Diese Sammlung wird stetig ausgebaut.
      </p>
    </Hero>
    <div
      id="hint-sidebar"
      x-cloak
      x-show="hintSidebarOpen"
      class="fixed top-0 right-0 z-10 min-h-screen w-384 bg-[#F7F7F9] px-24 py-40 [&_h3]:text-lg"
    >
      <div class="mb-32 flex w-full justify-end">
        <button
          class="border-cosmic-blue-base text-cosmic-blue-base rounded-sm border p-8"
          @click="hintSidebarOpen = false"
        >
          <Icon name="ic:round-close" class="h-24 w-24" />
        </button>
      </div>
      <h2 class="mt-0 text-xl">Filterfunktionen</h2>
      <h3>Gemerkte Werkzeuge</h3>
      <p>
        Jedes Werkzeug kann per Klick auf das Lesezeichen-Symbol gemerkt werden.
        Diese werden im Browser gespeichert.
      </p>
      <p>
        Achtung: Die gemerkten Werkzeuge verschwinden, sobald Sie den Browser
        zurücksetzen.
      </p>
      <h3>Methode</h3>
      <p>
        Systematische Vorgehensweisen, die Ihnen zu Erkenntnissen verhelfen.
      </p>
      <h3>Tool</h3>
      <p>
        Wissensquellen oder interaktive Werkzeuge, wie beispielsweise Editoren,
        Plug-ins und Klickstrecken.
      </p>
      <h3>Leitfaden</h3>
      <p>Strukturierte Anleitungen, die Orientierung bieten.</p>
    </div>
    <section>
      <h2>Ich möchte ...</h2>
      {
        categories.map(({ id, title }) => (
          <p>
            <a href={`#${id}`} class="kern-heading-medium">
              <Icon
                name="ic:round-arrow-downward"
                class="text-cosmic-blue-base inline-block h-32 w-32 pr-4"
              />
              {title}
            </a>
          </p>
        ))
      }
      <hr class="kern-divider mt-lg mb-32" aria-hidden="true" />
      <div>
        <p class="kern-label">Filtern nach:</p>
        <div class="mb-16 flex gap-16">
          {
            [BOOKMARKED_TYPE, ...types].map((type) => (
              <button @click={`toggleFilterType('${type}')`}>
                <span
                  class={`kern-badge kern-badge--${type.replaceAll(" ", "_").toLowerCase()} interactive`}
                  x-bind:data-inactive={`filterType && filterType !== '${type}'`}
                >
                  {type === BOOKMARKED_TYPE ? (
                    <Icon
                      name="ic:round-bookmark-added"
                      class="text-icon-muted h-24 w-24"
                    />
                  ) : (
                    <span
                      class="kern-icon kern-icon--check kern-icon--default"
                      aria-hidden="true"
                      x-show={`!filterType || filterType === '${type}'`}
                    />
                  )}
                  <span class="kern-label">{type}</span>
                </span>
              </button>
            ))
          }
          <button
            class="text-cosmic-blue-base"
            @click="hintSidebarOpen = !hintSidebarOpen"
          >
            <Icon name="ic:outline-help-outline" class="h-32 w-32" />
          </button>
        </div>
        <p>
          <button class="kern-link">
            <span
              class="kern-icon kern-icon--search kern-icon--default"
              aria-hidden="true"></span>
            Suchen
          </button>
        </p>
      </div>
      {
        categories.map(({ id, title, tools }) => {
          return (
            <>
              <h2 id={id} class="scroll-mt-md mt-80 mb-56">
                {title.charAt(0).toUpperCase() + title.slice(1)}
              </h2>
              <div class="tool-grid gap-md grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
                {tools.map((t) => (
                  <div
                    class="tool-wrapper"
                    x-bind:data-visible={`isCardVisible(${JSON.stringify(t.id)}, ${JSON.stringify(t.data.type)})`}
                  >
                    <KernCard
                      title={t.data.title}
                      href={t.data.externalUrl}
                      body={t.data.description}
                      background="white"
                      interactive={false}
                    >
                      <div
                        slot="pre-header"
                        class="mb-16 flex w-full justify-between"
                      >
                        <div class="flex gap-8">
                          {t.data.type.map((type) => (
                            <span
                              class={`kern-badge kern-badge--${type.toLowerCase()}`}
                            >
                              <span class="kern-label">{type}</span>
                            </span>
                          ))}
                        </div>
                        <button
                          class="text-icon-muted"
                          aria-label={"Lesezeichen hinzufügen"}
                          @click={`toggleBookmark(${JSON.stringify(t.id)})`}
                        >
                          <Icon
                            name={"ic:outline-bookmark-add"}
                            x-show={`!bookmarkedTools.includes(${JSON.stringify(t.id)})`}
                            class="h-32 w-32"
                          />
                          <Icon
                            name="ic:round-bookmark-added"
                            x-cloak
                            x-show={`bookmarkedTools.includes(${JSON.stringify(t.id)})`}
                            class="h-32 w-32"
                          />
                        </button>
                      </div>
                      <div
                        slot="footer"
                        class="text-icon-muted! flex items-center gap-8"
                      >
                        <Icon
                          name="ic:baseline-auto-stories"
                          class="h-32 w-32 shrink-0"
                        />
                        <p class="kern-subline py-0">Quelle: {t.data.source}</p>
                      </div>
                    </KernCard>
                  </div>
                ))}
                <p class="no-results">
                  <em>Keine Treffer</em>
                </p>
              </div>
            </>
          );
        })
      }
    </section>
    <Hero level="root">
      <h2>Fehlt etwas?</h2>
      <p>
        Kennen Sie weitere hilfreiche Werkzeuge, die auf dieser Seite fehlen?
        Kontaktieren Sie uns gerne.
      </p>
      <p>Telefon: <a href={ZFL_PHONE.url}>{ZFL_PHONE.display}</a></p>
      <p>E-Mail: <a href={ZFL_EMAIL.url}>{ZFL_EMAIL.display}</a></p>
    </Hero>
  </main>
</Layout>

<script>
  import Alpine from "alpinejs";
  const BOOKMARKED_TYPE = "Gemerkte Werkzeuge"; // TODO: DRY with frontmatter

  document.addEventListener("alpine:init", () => {
    Alpine.data("werkzeuge", () => ({
      hintSidebarOpen: false as boolean,
      filterType: null as string | null,
      bookmarkedTools: [] as string[],

      init() {
        const stored = localStorage.getItem("bookmarkedTools");
        if (stored) {
          try {
            this.bookmarkedTools = JSON.parse(stored) as string[];
          } catch (e) {
            console.error(
              "Failed to parse bookmarked tools from localStorage",
              e,
            );
          }
        }
        this.$watch("bookmarkedTools", (value: string[]) => {
          localStorage.setItem("bookmarkedTools", JSON.stringify(value));
        });
      },

      toggleFilterType(type: string) {
        this.filterType = this.filterType === type ? null : type;
      },

      isCardVisible(toolId: string, types: string[]) {
        return (
          this.filterType === null ||
          types.includes(this.filterType) ||
          (this.filterType === BOOKMARKED_TYPE &&
            this.bookmarkedTools.includes(toolId))
        );
      },

      toggleBookmark(toolId: string) {
        if (this.bookmarkedTools.includes(toolId)) {
          this.bookmarkedTools = this.bookmarkedTools.filter(
            (id) => id !== toolId,
          );
        } else {
          this.bookmarkedTools.push(toolId);
        }
      },
    }));
  });
</script>

<style is:global>
  .kern-badge {
    &.interactive[data-inactive="true"] {
      opacity: 0.4;
    }
  }
  .kern-badge--gemerkte_werkzeuge {
    border: 1px solid #000000;
    color: #000000;
  }
  .kern-badge--methode {
    background-color: #e6fba2;
    border: 1px solid #5d7200;
    --kern-color-layout-text-default: #3d4d00;
  }
  .kern-badge--tool {
    background-color: #d5f6ff;
    border: 1px solid #051d91;
    --kern-color-layout-text-default: #051d91;
  }
  .kern-badge--leitfaden {
    background-color: #fffdb2;
    border: 1px solid #8f7400;
    --kern-color-layout-text-default: #645000;
  }
  .kern-badge--ressource {
    background-color: #e5cbf4;
    border: 1px solid #8412af;
    --kern-color-layout-text-default: #8412af;
  }
  .tool-wrapper:not([data-visible="true"]) {
    display: none;
  }
  .no-results {
    display: none;
  }
  .tool-grid:not(:has(.tool-wrapper[data-visible="true"])) .no-results {
    display: block;
  }
</style>
