---
import { WERKZEUGE_CATEGORIES } from "@/content.config";
import { slugify } from "@/utils/slugify";
import { getCollection } from "astro:content";
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";

export const frontmatter = {
  title: "Werkzeuge",
  sitemap: true,
};

const allWerkzeuge = await getCollection("werkzeuge");

const categoriesWithItems = WERKZEUGE_CATEGORIES.filter((category) =>
  allWerkzeuge.some((w) => w.data.categories.includes(category)),
);
---

<Layout title={frontmatter.title}>
  <main class="breakout-grid">
    <Hero level="main">
      <h1>{frontmatter.title}</h1>
    </Hero>

    <nav class="mt-lg">
      {
        categoriesWithItems.map((category) => (
          <div class="flex items-center gap-16">
            <Icon
              name="ic:baseline-arrow-downward"
              class="kern-label"
              aria-hidden
            />
            <a href={`#${slugify(category)}`}>{category}</a>
          </div>
        ))
      }
    </nav>

    {
      categoriesWithItems.map((category) => {
        const items = allWerkzeuge.filter((w) =>
          w.data.categories.includes(category),
        );
        return (
          <section>
            <h2 id={slugify(category)} class="scroll-mt-md">
              {category}
            </h2>
            <div class="gap-md grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
              {items.map((entry) => (
                <article class="kern-card kern-card--interactive">
                  <div class="kern-card__container">
                    <header class="kern-card__header">
                      <hgroup>
                        <p class="kern-preline">{entry.data.type}</p>
                        <h3 class="kern-title">
                          <a
                            href={`/werkzeuge/${entry.id}`}
                            class="kern-link--stretched"
                          >
                            {entry.data.title}
                          </a>
                        </h3>
                      </hgroup>
                    </header>
                    <section class="kern-card__body">
                      <p class="kern-body">{entry.data.description}</p>
                    </section>
                  </div>
                </article>
              ))}
            </div>
          </section>
        );
      })
    }
  </main>
</Layout>
