---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  target_option?: "_blank" | "_self";
  href?: string;
  preline?: string;
  body?: string;
  subline?: string;
  image?: ImageMetadata;
  imageAlt?: string | null;
  imageSource?: string;
}

const {
  preline,
  title,
  target_option = "_self",
  href,
  subline,
  body,
  image,
  imageAlt,
  imageSource,
} = Astro.props;
const hasFooter = Astro.slots.has("footer");
---

<article class={`kern-card ${href ? "kern-card--interactive" : ""}`}>
  {
    image && imageAlt !== undefined && (
      <div class="kern-card__media relative">
        <Image src={image} alt={imageAlt} class="h-208 object-cover" />
        {imageSource && (
          <p class="absolute right-0 bottom-0 w-auto! rounded-none! bg-black/40 px-4 text-xs text-white">
            Quelle: {imageSource}
          </p>
        )}
      </div>
    )
  }
  <div class="kern-card__container">
    <header class="kern-card__header">
      <hgroup>
        {preline && <p class="kern-preline">{preline}</p>}
        <h2 class="kern-title">
          {
            href ? (
              <a
                href={href}
                class="kern-link--stretched"
                target={target_option}
              >
                {title}
              </a>
            ) : (
              title
            )
          }
        </h2>
        {subline && <p class="kern-subline">{subline}</p>}
      </hgroup>
    </header>
    <section class="kern-card__body space-y-0">
      {body && <p class="kern-body">{body}</p>}
      <slot />
    </section>
    {
      hasFooter && (
        <footer class="kern-card__footer">
          <slot name="footer" />
        </footer>
      )
    }
  </div>
</article>
