---
import Footer from "@/components/global/Footer.astro";
import { SEO } from "astro-seo";
interface Props {
  title: string;
}
const { title: pageTitle } = Astro.props;
const siteName = "Zentrum für Legistik";
const title = pageTitle ? `${pageTitle} — ${siteName}` : siteName;
const SEOImage = `${Astro.url.origin}/SEO_ZfL.png`;

import "../styles/global.css";
import PageHeader from "@/components/global/PageHeader.astro";
import Posthog from "@/components/global/Posthog.astro";
import { isProduction } from "@/config/stage";
---

<!doctype html>
<html lang="de" data-kern-theme="light">
  {/* disable dark mode for now*/}

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />

  <SEO
    title={title}
    openGraph={{
      basic: {
        title,
        type: "website",
        image: SEOImage,
      },
    }}
    extend={{
      link: [
        { rel: "icon", href: "/favicon.svg" },
        { rel: "sitemap", href: "/sitemap-index.xml" },
      ],
      meta: [
        { name: "twitter:title", content: title },
        {
          name: "twitter:image",
          content: SEOImage,
        },
      ],
    }}
  />

  <body>
    <PageHeader />
    <slot />
    <Footer />
    {isProduction && <Posthog />}
  </body>
</html>
