---
import Footer from "@components/Footer.astro";
interface Props {
  title: string;
}
const { title: pageTitle } = Astro.props;
const siteName = "Zentrum für Legistik";
const title = pageTitle ? `${pageTitle} — ${siteName}` : siteName;

import "../styles/global.css";
import PageHeader from "@components/PageHeader.astro";
---

<!doctype html>
<html lang="de" data-kern-theme="light">
  {/* disable dark mode for now*/}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <title>{title}</title>
  <meta property="og:title" content={title} />
  <meta property="twitter:title" content={title} />
  <body>
    <PageHeader />
    <slot />
    <Footer />
  </body>
</html>
