---
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import { ZFL_EMAIL, ZFL_PHONE } from "@/config/constants";
import { mailto } from "@/utils/mailtoHelper";

export const frontmatter = {
  title: "Steckbrief",
  sitemap: false,
};

const steps = [
  {
    number: "1",
    title: "Sie schicken uns eine Mail mit Ihrer Anfrage",
    description: "",
  },
  {
    number: "2",
    title: "Das ZfL Team erstellt den Steckbrief klärt Rückfragen mit Ihnen",
    description: "",
  },
  {
    number: "3",
    title: "Wir senden Ihnen den Steckbrief zurück",
    description: "",
  },
];
---

<Layout title={frontmatter.title}>
  <main class="breakout-grid">
    <Hero>
      <h1>Wir füllen den Steckbrief für Sie aus</h1>
      <p>
        Wir übernehmen die Erstellung für Sie – Sie schicken uns nur die
        wichtigsten Informationen und erhalten den vollständig ausgefüllten
        Steckbrief zurück.
      </p>
    </Hero>
    <section class="space-y-40 py-80">
      <h2>Wie läuft der Prozess des Steckbriefs ab?</h2>

      <div class="space-y-36">
        {
          steps.map((step) => (
            <div class="group flex items-start gap-32">
              <div class="bg-lavender-400 border-lavender-400 flex h-40 w-40 shrink-0 items-center justify-center rounded-full border-2 text-lg font-bold">
                {step.number}
              </div>

              <div class="grow">
                <p class="mb-8 text-2xl font-bold">{step.title}</p>
                <p class="text-base leading-relaxed opacity-80">
                  {step.description}
                </p>
              </div>
            </div>
          ))
        }
      </div>

      <div class="mt-80 space-y-16">
        <h2 class="mb-16">Anfrage senden</h2>
        <p>
          Damit wir den Steckbrief für Sie erstellen können, benötigen wir
          einige Informationen zu Ihrem Vorhaben:
        </p>
        <ul>
          <li>Zuständiges Ressort</li>
          <li>Zuständiges Referat</li>
          <li>Betroffener Rechtsbereich</li>
          <li>Thema und kurze Beschreibung des Vorhabens (3–5 Sätze)</li>
          <li>Relevante Dokumente, die das Vorhaben erläutern oder ergänzen</li>
        </ul>
        <p>
          Im Anschluss prüfen wir Ihre Angaben sorgfältig, melden uns bei Bedarf
          mit Rückfragen und stellen Ihnen den ausgearbeiteten Steckbrief in der
          Regel innerhalb von zwei Wochen zur Verfügung.
        </p>
        <p>
          Bei Fragen kontaktieren Sie uns unter:<br /><a href={ZFL_EMAIL.url}
            >{ZFL_EMAIL.display}</a
          > oder <a href={ZFL_PHONE.url}>{ZFL_PHONE.display}</a>
        </p>
      </div>

      <div class="flex gap-16">
        <a
          href={mailto(ZFL_EMAIL.display, "Anfrage Steckbrief")}
          class="btn btn-primary link-unstyled"
        >
          E-Mail erstellen
        </a>
      </div>
      <h3>Was passiert mit diesem Steckbrief?</h3>
      <p>
        Nach Erhalt des Steckbriefes schicken Sie das Dokument an die relevante
        Ressorts, Normenkontrallrat und Destatis. Die Ressorts können frühzeitig
        beteiligt werden, um inhaltliches Feedback zu geben. NKR und Destatis
        werden frühzeitig über neue Vorhaben informiert ...
      </p>
    </section>
  </main>
</Layout>
