---
import SteckbriefWrapper from "./_components/SteckbriefWrapper.astro";
import SummaryCard from "./_components/SummaryCard.astro";
import {
  steckbrief_schritt1,
  steckbrief_schritt2,
  steckbrief_schritt3,
  steckbrief_schritt4,
  steckbrief_schritt5,
  steckbrief_schritt6,
  steckbrief_schritt7,
  steckbrief_schritt8,
} from "@/config/routes";

export const frontmatter = {
  title: "9. Zusammenfassung",
  sitemap: false,
  navOrder: 9,
};
---

<SteckbriefWrapper
  title={frontmatter.title}
  pageNumber={frontmatter.navOrder}
  isWide
>
  <div class="flex flex-col gap-16">
    <h2 class="mt-0">Zusammenfassung</h2>
    <p>
      Überprüfen Sie Ihre Angaben und korrigieren Sie diese, falls notwendig.
    </p>
  </div>

  <div class="flex flex-col">
    <SummaryCard
      title="Allgemeine Angaben"
      editPath={steckbrief_schritt1.path}
      items={[
        { label: "Arbeitstitel des Vorhabens", id: "arbeitstitel" },
        { label: "Aktenzeichen", id: "aktenzeichen" },
        { label: "Federführendes Ressort", id: "ressort" },
        { label: "Referat", id: "referat" },
      ]}
    />
    <SummaryCard
      editPath={steckbrief_schritt1.path}
      title="Kontaktdaten"
      items={[
        { label: "Name", id: "name" },
        { label: "E-Mail Adresse", id: "email" },
        { label: "Telefonnummer", id: "telefonnummer" },
      ]}
    />
    <SummaryCard
      editPath={steckbrief_schritt2.path}
      title="Kontext und Genese"
      items={[{ label: "Kontext", id: "kontext" }]}
    />
    <SummaryCard
      editPath={steckbrief_schritt3.path}
      title="Problembeschreibung"
      items={[{ label: "Problembeschreibung", id: "problembeschreibung" }]}
    />
    <SummaryCard
      editPath={steckbrief_schritt4.path}
      title="Einflussfaktoren & Akteure"
      items={[
        { label: "Einflussfaktoren", id: "einflussfaktoren" },
        { label: "Relevante Akteure", id: "relevanteAkteure" },
      ]}
    />
    <SummaryCard
      editPath={steckbrief_schritt5.path}
      title="Vorläufige Zielsetzung"
      items={[{ label: "Zielsetzung", id: "zielsetzung" }]}
    />
    <SummaryCard
      editPath={steckbrief_schritt6.path}
      title="Vorhabensbeschreibung"
      items={[
        {
          label: "Vorhabensbeschreibung",
          id: "vorhabensbeschreibung",
        },
        { label: "Wichtige Maßnahmen", id: "massnahmen" },
      ]}
    />
    <SummaryCard
      editPath={steckbrief_schritt7.path}
      title="Projektplanung I"
      items={[
        { label: "Zeithorizont", id: "zeithorizont" },
        { label: "Ressourcenschätzung", id: "ressourcenschaetzung" },
      ]}
    />
    <SummaryCard
      editPath={steckbrief_schritt8.path}
      title="Projektplanung II"
      items={[
        { label: "Risikoeinschätzung", id: "risikoeinschaetzung" },
        { label: "Komplexitätsgrad", id: "komplexitaetsgrad" },
      ]}
    />
  </div>
</SteckbriefWrapper>
