---
import Hero from "@/components/Hero.astro";
import { ZFL_PHONE, ZFL_EMAIL_SCHULUNG } from "@/config/constants.ts";
import schulungenImage from "@/images/Schulungen.png";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import appointments from "./_appointments.json";
import Schedule from "./_schedule.astro";
import InfoPanel from "@/components/InfoPanel.astro";

export const frontmatter = {
  title: "Schulungen",
  sitemap: true,
};

const description =
  "In den umsetzungsorientierten Schulungen des Zentrum für Legistik lernen Sie Methoden und Werkzeuge kennen, die Sie bei der Erarbeitung von praxisnahen und bürokratiearmen Regelungen unterstützen.";
---

<Layout title={frontmatter.title} description={description}>
  <main class="breakout-grid max-md:overflow-x-hidden">
    <Hero level="main">
      <div class="items-center gap-32 md:flex md:flex-row">
        <div>
          <h1>Schulungen</h1>
          <p>
            In den umsetzungsorientierten Schulungen des Zentrum für Legistik
            lernen Sie Methoden und Werkzeuge kennen, die Sie bei der
            Erarbeitung von praxisnahen und bürokratiearmen Regelungen
            unterstützen.
          </p>
        </div>
        <Image
          class="hidden h-344 w-530 md:block"
          src={schulungenImage}
          alt=""
          aria-hidden
        />
      </div>
    </Hero>
    <section>
      <h2 class="mb-32">Schulungen des Zentrum für Legistik</h2>
      <div class="space-y-80">
        <div>
          <h3>
            Regelungen digital- und praxistauglich gestalten - Tipps für den Digitalcheck <span class="whitespace-nowrap">(1,5 Stunden)</span>
          </h3>
          <p>
            Erfahren Sie, wie Sie Ihr Vorhaben digital- und praxistauglich, adressatenorientiert und bürokratiearm gestalten. In dieser kompakten 90-minütigen Online-Schulung erhalten Sie eine umfassende Einführung zu den folgenden Inhalten: Digitalcheck erfolgreich bearbeiten, digitaltaugliche Formulierungen, Anwenden der Prinzipien für Digitaltauglichkeit, Praxistauglichkeit berücksichtigen und EU-Interoperabilität.
          </p>
          <div>
            <Schedule appointments={appointments} caption="Nächste Termine" />
          </div>
        </div>
        <div>
          <h3>
            Basisschulung für Legistinnen und Legisten
            <span class="whitespace-nowrap">(4 Tage)</span>
          </h3>
          <p>
            Umsetzungsperspektive verstehen, Visualisierungen erstellen,
            Entscheidungsbäume ausarbeiten, Rechtsförmlichkeit und verständliche
            Sprache sicherstellen
          </p>
          <p>Die Basisschulung wird aktuell überarbeitet. Sobald es neue Termine gibt, finden Sie diese hier.</p>
        </div>
      </div>
    </section>
    <Hero level="root">
      <h2 id="anmeldung">Anmeldung</h2>
      <p>
        Schicken Sie uns für eine Anmeldung den Schulungs- oder Modul-Namen und
        Termin an die E-Mail <a href={ZFL_EMAIL_SCHULUNG.url}
          >{ZFL_EMAIL_SCHULUNG.display}</a
        > und wir bestätigen die Anmeldung.
      </p>
    </Hero>
    <section class="space-y-56">
      <h2 id="schulungen-weitere" class="scroll-m-20">Weitere Angebote</h2>
      <InfoPanel padding="wide" look="lightLavender">
        <h3>Bundesakademie für öffentliche Verwaltung (BaköV)</h3>
        <p>
          Die Bundesakademie für öffentliche Verwaltung bietet Seminare im Themengebiet Rechtsetzung an, buchbar über das Interaktive Fortbildungssystem für die Bundesverwaltung (IFOS BUND).
        </p>
        <ul>
          <li>
            <p class="font-bold">Pilot-Schulung zur Rechtsvisualisierung am 11.09.2026</p>
            Die Anmeldung erfolgt über die Fortbildungsstellen der Häuser.<br />
          </li>
        </ul>
        <a
          href="https://www.ifosbund.de//pub/Fortbildungsangebot/va_suche.xhtml?ex=false&suchbegriff=RS&jahr=ALLE_JAHRE_PUBLIC&buchbar=false"
          target="_blank">Zur Seminarübersicht</a
          >
      </InfoPanel>
      <InfoPanel padding="wide" look="lightLavender">
        <h3>Bundesstiftung Gleichstellung (Gleichstellungs-Check)</h3>
        <p>
          Die für ein Gesetzesvorhaben fachlich Zuständigen lernen in der
          Schulung, wie Gesetzentwürfe systematisch auf ihre Auswirkungen auf
          die Gleichstellung der Geschlechter geprüft werden können.
        </p>
        <ul>
          <li>
            <p class="font-bold">
              Schulung zur gleichstellungsorientierten Gesetzesfolgenabschätzung
              nach § 2 GGO
            </p>
            <p>
              Schulung an unterschiedlichen Tagen im Juni 2026 - digital und in
              Präsenz <br />
              <a
                href="https://www.gleichstellungs-check.de/de/topic/6.schulungen.html"
                target="_blank">Mehr Informationen und Anmeldung</a
              >
            </p>
          </li>
        </ul>
      </InfoPanel>
      <InfoPanel padding="wide" look="lightLavender">
        <h3>Speyerer Zentrum für Gesetzgebung</h3>
        <p>
          Das Zentrum für Gesetzgebung an der Deutschen Universität für
          Verwaltungswissenschaften Speyer bietet im Bereich der
          Gesetzgebungslehre Seminare und wissenschaftliche Vertiefung an.
        </p>
        <ul>
          <li>
            <p class="font-bold">
              Wissen in Legistik und Rechtsetzung erweitern
            </p>
            Sommersemester 2026: Lehre und Weiterbildung zu den Themen Legistik und
            Rechtsetzung<br />
            <a
              href="https://www.uni-speyer.de/lehrstuehle/level-2-1/prof-dr-ruth-weber/speyerer-zentrum-fuer-gesetzgebung"
              target="_blank">Mehr Informationen und Anmeldung</a
            >
          </li>
        </ul>
      </InfoPanel>
      <InfoPanel padding="wide" look="lightLavender">
        <h3>Statistisches Bundesamt - OnDEA</h3>
        <ul>
          <li>
            <p class="font-bold">Einführung in die Grundlagen der Legistik</p>
            Die Online-Datenbank des Erfüllungsaufwands (OnDEA) bietet Video-Tutorials
            zu unterschiedlichen Themen an<br />
            <a href="https://www.ondea.de/DE/ZfL/ZfL_node.html" target="_blank"
              >Videos anzeigen</a
            >
          </li>
        </ul>
      </InfoPanel>
    </section>
    <Hero level="root">
      <h2>Kontakt</h2>
      <p>
        Wir unterstützen Sie gerne persönlich in allen Phasen der
        Regelungsarbeit. Bei Fragen melden Sie sich unter:
      </p>
      <p>
        Telefon: <a href={ZFL_PHONE.url}>{ZFL_PHONE.display}</a>
      </p>
      <p>
        E-Mail: <a href={ZFL_EMAIL_SCHULUNG.url}>{ZFL_EMAIL_SCHULUNG.display}</a
        >
      </p>
    </Hero>
  </main>
</Layout>
