---
import { Icon } from "astro-icon/components";
import Heading from "@components/text/Heading.astro";
import Layout from "@layouts/Layout.astro";
import Card from "@components/Card.astro";
import Badge from "@components/text/Badge.astro";
import Appointment from "./_appointment.astro";
import SupportCard from "@components/SupportCard.astro";
---

<Layout title="Schulungen">
  <main class="breakout-grid space-y-80">
    <Heading class="mt-80" level={1}>Schulungen</Heading>

    <div class="flex flex-row gap-32">
      <img src="/Schulungen.png" />
      <div class="space-y-16">
        <Heading level={2}
          >In Schulungen praktisches Wissen und Kompetenzen erlangen</Heading
        >
        <p>
          In den umsetzungsorientierten Schulungen des Zentrum für Legistik
          lernen Sie Methoden und Werkzeuge kennen, die Sie bei der Erarbeitung
          von praxisnahen und bürokratiearmen Regelungen unterstützen.
        </p>
      </div>
    </div>

    <Card look="gray" class="space-y-40">
      <Badge class="mb-0"
        ><Icon name="material-symbols:timer-outline" />Nächste Termine</Badge
      >
      <Heading level={2}
        >Zu diesen Schulungen können Sie sich direkt anmelden</Heading
      >
      <div>
        <Heading level={3}>
          Regelungen digitaltauglich gestalten – praktische Tipps für den
          Digitalcheck (1,5 Stunden)
        </Heading>
        <p>
          Inhalte: Digitalcheck erfolgreich bearbeiten, digitaltaugliche
          Formulierungen, Anwenden der Prinzipien für Digitaltauglichkeit,
          EU-Interoperabilität
        </p>
        <ul class="list-unstyled">
          {
            [
              {
                date: "MO 12.01.26",
                time: "11:00 - 12:30 Uhr",
                location: "Online",
              },
              {
                date: "MI 21.01.26",
                time: "15:00 - 16:30 Uhr",
                location: "Online",
              },
            ].map(({ date, location, time }) => (
              <Appointment date={date} location={location} time={time} />
            ))
          }
        </ul>
      </div>

      <div>
        <Heading level={3}
          >Basisschulung "Praxisnahe und bürokratiearme Regelungen erarbeiten"
          (4 Tage)</Heading
        >
        <p>
          Inhalte: Umsetzungsperspektive verstehen, Visualisierungen erstellen,
          Entscheidungsbäume ausarbeiten, Rechtsförmlichkeit und verständliche
          Sprache sicherstellen
        </p>
        <ul class="list-unstyled">
          {
            [
              {
                date: "MO 15.12.25 - DO 18.12.25",
                time: "09:00 - 16:00 Uhr",
                location: "Berlin (in Präsenz)",
              },
            ].map(({ date, location, time }) => (
              <Appointment date={date} location={location} time={time} />
            ))
          }
        </ul>
      </div>

      <div>
        <Heading level={2}>Anmeldung</Heading>
        <p>
          Schicken Sie uns für eine Anmeldung den Schulungs- oder Modul-Namen
          und Termin an die E-Mail und wir bestätigen die Anmeldung.
        </p>
      </div>
    </Card>

    <section class="bg-zfl-main20 breakout py-40">
      <SupportCard />
    </section>
  </main>
</Layout>
