---
import Hero from "@/components/Hero.astro";
import SupportCard from "@/components/blocks/SupportCard.astro";
import { ZFL_PHONE, ZFL_EMAIL_SCHULUNG } from "@/config/constants.ts";
import schulungenImage from "@/images/Schulungen.png";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import appointments from "./_appointments.json";
import Schedule from "./_schedule.astro";

export const frontmatter = {
  title: "Schulungen",
  sitemap: true,
};
---

<Layout title={frontmatter.title}>
  <main class="breakout-grid max-md:overflow-x-hidden">
    <Hero level="main">
      <div class="items-center gap-32 md:flex md:flex-row">
        <div>
          <h1>Schulungen</h1>
          <div>
            <p>
              In den umsetzungsorientierten Schulungen des Zentrum für Legistik
              lernen Sie Methoden und Werkzeuge kennen, die Sie bei der
              Erarbeitung von praxisnahen und bürokratiearmen Regelungen
              unterstützen.
            </p>
            <button type="button" class="kern-btn kern-btn--primary">
              <span class="kern-label">Jetzt anmelden</span>
            </button>
            <button class="kern-btn kern-btn--secondary">
              <!-- <Icon
                name="ic:baseline-arrow-downward"
                class="kern-label"
                aria-hidden
              /> -->
              <span class="kern-label">Weitere Angebote</span>
              <span
                class="kern-icon kern-icon--arrow-forward"
                aria-hidden="true"
              >
              </span>
            </button>
          </div>
        </div>
        <Image
          class="pb-34.8 pr-73.3 hidden h-270 w-442 pt-37 pl-39 md:block"
          src={schulungenImage}
          alt=""
          aria-hidden
        />
      </div>
    </Hero>
    <section>
      <h2>Schulungen des Zentrum für Legistik</h2>

      <h3>
        Regelungen digitaltauglich gestalten – praktische Tipps für den
        Digitalcheck <span class="whitespace-nowrap">(1,5 Stunden)</span>
      </h3>
      <p>
        Inhalte: Digitalcheck erfolgreich bearbeiten, digitaltaugliche
        Formulierungen, Anwenden der Prinzipien für Digitaltauglichkeit,
        EU-Interoperabilität
      </p>

      <div>
        <Schedule appointments={appointments} caption="Nächste Termine" />
      </div>

      <h3>Methodenblitz: Umgang mit Risiken</h3>
      <p>
        Im Rahmen dieser neuen Veranstaltungsreihe werden einzelne Methoden der
        innovativen Rechtsetzung vorgestellt und praktische Anwendungsübungen
        mitgegeben. Die Ergebnisse dieser Übungen werden in einem zweiten
        Folgetermin besprochen. Das Format fokussiert sich auf die Erstellung
        von Regelungsvorhaben.
      </p>
      <table class="zfl-table zfl-table--striped">
        <caption class="sr-only"></caption>
        <thead class="zfl-table__head">
          <tr>
            <th>Wochentag, Datum [TT. Monat]</th>
            <th>Uhrzeit</th>
            <th>Ort</th>
          </tr>
        </thead>
        <tbody class="zfl-table__body">
          <tr class="[&_td]:pr-16 [&_td]:pb-8">
            <td>Mittwoch, 22.04.2026</td>
            <td>09:10 – 10:00 Uhr</td>
            <td> Online </td>
          </tr>
          <tr>
            <td>Mittwoch, 06.06.2026</td>
            <td>09:15 – 09:45 Uhr</td>
            <td>
              Online (Folgetermin zur Besprechung der Übung und Rückfragen)
            </td>
          </tr>
        </tbody>
      </table>

      <h3>
        Basisschulung für Legistinnen und Legisten
        <span class="whitespace-nowrap">(4 Tage)</span>
      </h3>
      <p>
        Umsetzungsperspektive verstehen, Visualisierungen erstellen,
        Entscheidungsbäume ausarbeiten, Rechtsförmlichkeit und verständliche
        Sprache sicherstellen
      </p>
      <p>Die nächsten Termine werden demnächst bekanntgegeben.</p>
    </section>
    <section class="bg-lavender-base breakout">
      <h3>Anmeldung</h3>
      <p>
        Schicken Sie uns für eine Anmeldung den Schulungs- oder Modul-Namen und
        Termin an die E-Mail <a href={ZFL_EMAIL_SCHULUNG.url}
          >{ZFL_EMAIL_SCHULUNG.display}</a
        > und wir bestätigen die Anmeldung.
      </p>
    </section>
    <section class="space-y-56">
      <h2 id="schulungen-weitere" class="scroll-m-20">Weitere Angebote</h2>
      <div class="bg-lavender-200 px-64 py-56">
        <h3>Bundesstiftung Gleichstellung (Gleichstellungs-Check)</h3>
        <p>
          Die für ein Gesetzesvorhaben fachlich Zuständigen lernen in der
          Schulung, wie Gesetzentwürfe systematisch auf ihre Auswirkungen auf
          die Gleichstellung der Geschlechter geprüft werden können.
        </p>
        <ul>
          <li>
            <p class="font-bold">
              Schulung zur gleichstellungsorientierten Gesetzesfolgenabschätzung
              nach § 2 GGO
            </p>
            <p>
              Schulung an unterschiedlichen Tagen im Juni 2026 - digital und in
              Präsenz
              <a
                href="https://www.gleichstellungs-check.de/de/topic/6.schulungen.html"
                target="_blank">Mehr Informationen und Anmeldung</a
              >
            </p>
          </li>
        </ul>
        <h4></h4>
        <p></p>
      </div>
      <div class="bg-lavender-200 px-64 py-56">
        <h3>Speyerer Zentrum für Gesetzgebung</h3>
        <p>
          Das Zentrum für Gesetzgebung an der Deutschen Universität für
          Verwaltungswissenschaften Speyer bietet im Bereich der
          Gesetzgebungslehre Seminare und wissenschaftliche Vertiefung an.
          Folgende Angebote befassen sich mit moderner Rechtsetzung:
        </p>
        <ul>
          <li>
            <p class="font-bold">Tagung „Ambivalenzen moderner Verwaltung“</p>
            Zweitätige Tagung am 26. und 27. März 2026 in Speyer<br />
            <a
              href="https://weiterbildung.uni-speyer.de/suche/veranstaltungsdetails.html?action%5B26%5D=course&courseId=588-C-4388100&rowIndex=11"
              target="_blank">Mehr Informationen und Anmeldung</a
            >
          </li>
        </ul>
      </div>
      <div class="bg-lavender-200 px-64 py-56">
        <h3>Statistisches Bundesamt - OnDEA</h3>
        <ul>
          <li>
            <p class="font-bold">Einführung in die Grundlagen der Legistik</p>
            OnDEA bietet Video-Tutorials zu unterschiedlichen Themen an<br />
            <a href="https://www.ondea.de/DE/ZfL/ZfL_node.html" target="_blank"
              >Videos anzeigen</a
            >
          </li>
        </ul>
      </div>
    </section>
    <section class="bg-lavender-base breakout">
      <SupportCard>
        <p>
          Wir unterstützen Sie gerne persönlich in allen Phasen der
          Regelungsarbeit. Bei Fragen melden Sie sich unter:
        </p>
        <p>
          Telefon: <a href={ZFL_PHONE.url}>{ZFL_PHONE.display}</a>
        </p>
        <p>
          E-Mail: <a href={ZFL_EMAIL_SCHULUNG.url}
            >{ZFL_EMAIL_SCHULUNG.display}</a
          >
        </p>
      </SupportCard>
    </section>
  </main>
</Layout>
