---
import Card from "@/components/Card.astro";
import Hero from "@/components/Hero.astro";
import Link from "@/components/Link.astro";
import SupportCard from "@/components/blocks/SupportCard.astro";
import { ZFL_EMAIL } from "@/config/constants.ts";
import schulungenImage from "@/images/Schulungen.png";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
import appointments from "./_appointments.json";
import Schedule from "./_schedule.astro";

export const frontmatter = {
  title: "Schulungen",
  sitemap: true,
};
---

<Layout title={frontmatter.title}>
  <main class="breakout-grid max-md:overflow-x-hidden">
    <Hero>
      <div class="items-center gap-32 md:flex md:flex-row">
        <div>
          <h1>In Schulungen praktisches Wissen und Kompetenzen erlangen</h1>

          <p>
            In den umsetzungsorientierten Schulungen des Zentrum für Legistik
            lernen Sie Methoden und Werkzeuge kennen, die Sie bei der
            Erarbeitung von praxisnahen und bürokratiearmen Regelungen
            unterstützen.
          </p>
          <div class="space-y-8">
            <a class="block" href="#schulungen-zfl">
              ↓ Schulungen des Zentrum für Legistik
            </a>
            <a class="block" href="#schulungen-weitere"> ↓ Weitere Angebote </a>
          </div>
        </div>
        <Image
          class="max-md:hero-image-overlay md:size-288"
          src={schulungenImage}
          alt=""
        />
      </div>
    </Hero>

    <section>
      <Card
        look="gray"
        wrapperClass="sm:px-md bg-lavender-400"
        id="schulungen-zfl"
      >
        <h2>Schulungen des Zentrum für Legistik</h2>

        <h3 class="ds-subhead">
          Regelungen digitaltauglich gestalten – praktische Tipps für den
          Digitalcheck <span class="whitespace-nowrap">(1,5 Stunden)</span>
        </h3>
        <p>
          Inhalte: Digitalcheck erfolgreich bearbeiten, digitaltaugliche
          Formulierungen, Anwenden der Prinzipien für Digitaltauglichkeit,
          EU-Interoperabilität
        </p>

        <div>
          <Schedule appointments={appointments} caption="Nächste Termine" />
        </div>

        <h3 class="ds-subhead">
          Basisschulung für Legistinnen und Legisten
          <span class="whitespace-nowrap">(4 Tage)</span>
        </h3>
        <p>
          Inhalte: Umsetzungsperspektive verstehen, Visualisierungen erstellen,
          Entscheidungsbäume ausarbeiten, Rechtsförmlichkeit und verständliche
          Sprache sicherstellen
        </p>
        <p>Die nächsten Termine werden demnächst bekanntgegeben.</p>
        <h3>Anmeldung</h3>
        <p>
          Schicken Sie uns für eine Anmeldung den Schulungs- oder Modul-Namen
          und Termin an die E-Mail <Link href={ZFL_EMAIL.url}
            >{ZFL_EMAIL.display}</Link
          > und wir bestätigen die Anmeldung.
        </p>
      </Card>

      <h2 id="schulungen-weitere" class="scroll-m-20">Weitere Angebote</h2>

      <h3>Speyerer Zentrum für Gesetzgebung</h3>
      <p>
        Das Zentrum für Gesetzgebung an der Deutschen Universität für
        Verwaltungswissenschaften Speyer bietet im Bereich der
        Gesetzgebungslehre Seminare und wissenschaftliche Vertiefung an.
        Folgende Angebote befassen sich mit moderner Rechtsetzung:
      </p>

      <h4>Tagung „Ambivalenzen moderner Verwaltung“</h4>
      <p>
        Zweitätige Tagung am 26. und 27. März 2026 in Speyer<br />
        <Link
          href="https://weiterbildung.uni-speyer.de/suche/veranstaltungsdetails.html?action%5B26%5D=course&courseId=588-C-4388100&rowIndex=11"
          >Mehr Informationen und Anmeldung</Link
        >
      </p>

      <h4>Wissen in Legistik und Rechtsetzung erweitern</h4>
      <p>
        Lehr- und Weiterbildungsveranstaltungen zu den Themen Legistik und
        Rechtsetzung – öffnen Sie hierzu den Bereich "Lehre und Weiterbildung"<br
        />
        <Link
          href="https://www.uni-speyer.de/lehrstuehle/level-2-1/prof-dr-ruth-weber/speyerer-zentrum-fuer-gesetzgebung"
          >Mehr Informationen</Link
        >
      </p>

      <h3>Statistisches Bundesamt - OnDEA</h3>

      <h4>Einführung in die Grundlagen der Legistik</h4>
      <p>
        OnDEA bietet Video-Tutorials zu unterschiedlichen Themen an<br />
        <Link href="https://www.ondea.de/DE/ZfL/ZfL_node.html"
          >Videos anzeigen</Link
        >
      </p>
    </section>

    <section class="bg-lavender-base breakout">
      <SupportCard />
    </section>
  </main>
</Layout>
