---
import Card from "@/components/Card.astro";
import SupportCard from "@/components/blocks/SupportCard.astro";
import Badge from "@/components/Badge.astro";
import { ZFL_EMAIL } from "@/config/constants";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import Appointment from "./_appointment.astro";
import { Image } from "astro:assets";
import schulungenImage from "@/images/Schulungen.png";
import Link from "@/components/Link.astro";
import Hero from "@/components/Hero.astro";

export const frontmatter = {
  title: "Schulungen",
  sitemap: true,
};
---

<Layout title={frontmatter.title}>
  <main class="breakout-grid">
    <Hero>
      <h1>Schulungen</h1>
      <div class="mt-40 gap-32 space-y-40 md:flex md:flex-row">
        <div class="space-y-16">
          <h2>In Schulungen praktisches Wissen und Kompetenzen erlangen</h2>
          <p>
            In den umsetzungsorientierten Schulungen des Zentrum für Legistik
            lernen Sie Methoden und Werkzeuge kennen, die Sie bei der
            Erarbeitung von praxisnahen und bürokratiearmen Regelungen
            unterstützen.
          </p>
          <p class="pt-10">
            <a href="#schulungen" class="btn-primary">Jetzt anmelden</a>
          </p>
        </div>
        <Image
          class="size-192 md:size-288"
          src={schulungenImage}
          alt="Symbolbild für Schulungen"
        />
      </div>
    </Hero>

    <Card
      look="gray"
      contentClass="gap-40"
      wrapperClass="my-80 sm:px-40 bg-lavender-400"
      id="schulungen"
    >
      <div>
        <Badge>
          <Icon name="ic:outline-timer" class="opacity-50" />Nächste Termine
        </Badge>
        <h3>Zu diesen Schulungen können Sie sich direkt anmelden</h3>
      </div>
      <div>
        <h3 class="ds-subhead">
          Regelungen digitaltauglich gestalten – praktische Tipps für den
          Digitalcheck <span class="whitespace-nowrap">(1,5 Stunden)</span>
        </h3>
        <p>
          Inhalte: Digitalcheck erfolgreich bearbeiten, digitaltaugliche
          Formulierungen, Anwenden der Prinzipien für Digitaltauglichkeit,
          EU-Interoperabilität
        </p>
        <ul class="list-unstyled">
          {
            [
              {
                date: "MO 12.01.26",
                time: "11:00 - 12:30 Uhr",
                location: "Online",
              },
              {
                date: "MI 21.01.26",
                time: "15:00 - 16:30 Uhr",
                location: "Online",
              },
            ].map(({ date, location, time }) => (
              <Appointment date={date} location={location} time={time} />
            ))
          }
        </ul>
      </div>

      <div>
        <h3 class="ds-subhead">
          Basisschulung für Legistinnen und Legisten
          <span class="whitespace-nowrap">(4 Tage)</span>
        </h3>
        <p>
          Inhalte: Umsetzungsperspektive verstehen, Visualisierungen erstellen,
          Entscheidungsbäume ausarbeiten, Rechtsförmlichkeit und verständliche
          Sprache sicherstellen
        </p>
        <ul class="list-unstyled">
          {
            [
              {
                date: "MO 15.12.25 - DO 18.12.25",
                time: "09:00 - 16:00 Uhr",
                location: "Berlin (in Präsenz)",
              },
            ].map(({ date, location, time }) => (
              <Appointment date={date} location={location} time={time} />
            ))
          }
        </ul>
      </div>

      <div>
        <h3 class="font-bold">Anmeldung</h3>
        <p>
          Schicken Sie uns für eine Anmeldung den Schulungs- oder Modul-Namen
          und Termin an die E-Mail <Link href={ZFL_EMAIL.url}
            >{ZFL_EMAIL.display}</Link
          > und wir bestätigen die Anmeldung.
        </p>
      </div>
    </Card>

    <section class="bg-lavender-base breakout py-80">
      <SupportCard />
    </section>
  </main>
</Layout>
