---
import Badge from "@/components/Badge.astro";
import Hero from "@/components/Hero.astro";
import KernCard from "@/components/KernCard.astro";
import TimelineList from "@/components/TimelineList.astro";
import { ZFL_EMAIL, ZFL_PHONE } from "@/config/constants";
import {
  begleitungen,
  home,
  kontakt,
  schulungen,
  ueber,
  ueber_aktuelleMeldungen,
  ueber_daranArbeitenWir,
  ueber_neueFruephase,
  werkzeuge,
  werkzeuge_praxistauglichkeit,
} from "@/config/routes";
import Layout from "@/layouts/Layout.astro";

export const frontmatter = {
  title: "Daran arbeiten wir",
  sitemap: true,
  navOrder: 1,
};
---

<Layout title={frontmatter.title}>
  <main class="breakout-grid">
    <Hero level="sub">
      <h1>{frontmatter.title}</h1>
      <div slot="subtitle">
        Hier halten wir Sie über aktuelle Arbeitspakete und neue Inhalte auf dem
        Laufenden.
      </div>
    </Hero>

    <section class="breakout breakout-grid">
      <h2>Aktuelle Arbeitspakete im dritten Quartal 2026</h2>
      <p>
        Das Angebot des Zentrum für Legistik, zu dem auch der Digitalcheck
        gehört, entwickelt sich kontinuierlich weiter. Wir fokussieren uns
        gerade auf diese Schwerpunktthemen:
      </p>

      <div class="mt-md gap-lg grid grid-cols-1 md:grid-cols-2">
        <KernCard title="Frühphase erfahrbar machen">
          <p class="kern-body--muted">
            Die Frühphase eines gesetzlichen Vorhabens entscheidet oft darüber,
            wie gut eine Regelung später funktioniert.
          </p>
          <p class="kern-body--muted">
            Gemeinsam mit Legistinnen und Legisten entwickeln wir ein neues
            {" "}<a href={ueber_neueFruephase.path} class="font-bold"
              >Konzept der Frühphase</a
            >. Dabei starten wir mit einer prozessualen Übersicht, die dabei
            hilft, eine Regelung anhand einer klaren Struktur inhaltlich zu
            durchdenken.
          </p>
        </KernCard>

        <KernCard title="Digitalcheck weiterentwickeln">
          <p class="kern-body--muted">
            Der <a href="https://digitalcheck.bund.de/" class="font-bold"
              >Digitalcheck</a
            > wird gemäß der föderalen Modernisierungsagenda auch für die Länder ein
            verlässliches, gut auffindbares Angebot. <strong
              >Kooperationen zwischen Bund und Ländern</strong
            > werden gestärkt.
          </p>
          <p class="kern-body--muted">
            Methoden und Beispiele ziehen Schritt für Schritt auf das Zentrum
            für Legistik um, Inhalte werden in Bezug auf Nutzen und Einfachheit
            verbessert. Landes-Legistinnen und -Legisten können die Inhalte
            nutzen. Dabei setzen wir auch die <a
              href="https://dachmarke.gov.de/"
              class="font-bold">Dachmarke</a
            > um, für die bessere Erkennbarkeit staatlicher Angebote für Bund, Ländern
            und Kommunen.
          </p>
        </KernCard>

        <KernCard
          title="Kompetenzrahmen für Legistinnen und Legisten entwickeln"
        >
          <p class="kern-body--muted">
            Was ist Legistik, was macht wirkungsorientierte Gesetzgebungsarbeit
            aus – und welche <strong>Kompetenzen</strong> braucht es dafür?
          </p>
          <p class="kern-body--muted">
            Gemeinsam mit Expertinnen und Experten erarbeiten wir einen
            Kompetenzrahmen, der zeigt, welches Wissen und welche Fähigkeiten in
            der Praxis zählen. Der Rahmen versteht sich als <strong
              >Orientierung, nicht als starre Vorgabe</strong
            >. Er wächst als lebendes Modell mit– auch als fachliche und
            strukturelle Grundlage für das zukünftige Schulungscurriculum.
          </p>
        </KernCard>
      </div>
      <h2>Ergänzende Themen</h2>
      <ul>
        <li>
          <strong>Konsolidierung von Instrumenten (Konzeption):</strong> Durch Zusammenführung
          verschiedener Checks wird die Regelungsarbeit vereinfacht.
        </li>
        <li>
          <a href={schulungen.path} class="font-bold">Schulungen:</a> Kontinuierliche
          Erweiterung des Schulungsangebot – online und in Präsenzformaten
        </li>
        <li>
          <a href={begleitungen.path} class="font-bold">Regelungsbegleitung:</a> Laufende
          Unterstützung von Referaten bei ausgewählten Vorhaben
        </li>
      </ul>
    </section>

    <section class="bg-cosmic-blue-base breakout text-white">
      <h2>Wirken Sie mit!</h2>
      <p>
        Das Zentrum für Legistik wird gemeinsam mit Ihnen als Legistinnen und
        Legisten weiterentwickelt. Ihr Erfahrungswissen hilft uns, die
        Hilfsmittel und Werkzeuge so zu gestalten, dass sie in der täglichen
        Arbeit tatsächlich nützlich sind.
      </p>
      <p>
        Wir möchten Sie einladen, uns Rückmeldung zu unseren Arbeitspaketen zu
        geben oder an kurzen Praxistests teilzunehmen. Der zeitliche Aufwand ist
        überschaubar und wird vorab mit Ihnen abgestimmt.
      </p>
      <strong>
        Kontaktieren Sie uns zu diesem Zweck unter <a href={ZFL_PHONE.url}
          >{ZFL_PHONE.display}</a
        > oder <a href={ZFL_EMAIL.url}>{ZFL_EMAIL.display}</a>.
      </strong>
    </section>

    <section>
      <h2 class="mb-40">Neuerungen auf der Webseite</h2>
      <TimelineList>
        <li>
          <Badge look="gray">Juli 2026</Badge>
          <ul>
            <li>
              Neue Seite ergänzt: Vorhaben praxistauglich gestalten
              <a href={werkzeuge_praxistauglichkeit.path} class="block"
                >Hier ansehen</a
              >
            </li>
          </ul>
        </li>
        <li>
          <Badge look="gray">Juni 2026</Badge>
          <ul>
            <li>Neue Funktion: Volltextsuche</li>
            <li>
              Neue Seite ergänzt: Die neue Frühphase
              <a href={ueber_neueFruephase.path} class="block">Hier ansehen</a>
            </li>
          </ul>
        </li>
        <li>
          <Badge look="gray">Mai 2026</Badge>
          <ul>
            <li>
              Startseite: Aktuelles und Newsletter ergänzt, Einstieg in
              Website-Bereiche vereinfacht
              <a href={home.path} class="block">Hier ansehen</a>
            </li>
            <li>
              Werkzeuge Seite: Inhalte erweitert, Sortierung und Filter ergänzt
              <a href={werkzeuge.path} class="block">Hier ansehen</a>
            </li>
            <li>
              Daran arbeiten wir: Umsetzungsstand bei aktuellen Arbeitspaketen
              ergänzt
              <a href={ueber_daranArbeitenWir.path} class="block"
                >Hier ansehen</a
              >
            </li>
          </ul>
        </li>

        <li>
          <Badge look="gray">April 2026</Badge>
          <ul>
            <li>
              Neue Seite ergänzt: Kontakt
              <a href={kontakt.path} class="block">Hier ansehen</a>
            </li>
            <li>
              Neue Seite ergänzt: Aktuelle Meldungen
              <a href={ueber_aktuelleMeldungen.path} class="block"
                >Hier ansehen</a
              >
            </li>
            <li>
              Über Uns: Unter-Navigation ergänzt
              <a href={ueber.path} class="block">Hier ansehen</a>
            </li>
            <li>
              Neuer Bereich ergänzt: Über Uns
              <a href={ueber.path} class="block">Hier ansehen</a>
            </li>
          </ul>
        </li>

        <li>
          <Badge look="gray">März 2026</Badge>
          <ul>
            <li>
              Seitendesign: Umstellung auf den <a
                href="https://www.kern-ux.de/"
                target="_blank">KERN-UX-Standard</a
              >
            </li>
          </ul>
        </li>

        <li>
          <Badge look="gray">Februar 2026</Badge>
          <ul>
            <li>
              Regelungsbegleitungen: Tabelle mit Service-Paketen ergänzt
              <a href={`${begleitungen.path}#leistungspakete`} class="block"
                >Hier ansehen</a
              >
            </li>
            <li>
              Schulungen: Hinweise zu externen Angeboten ergänzt
              <a href={`${schulungen.path}#schulungen-weitere`} class="block"
                >Hier ansehen</a
              >
            </li>
            <li>
              Neue Seite ergänzt: Anleitungen und Hilfsmittel
              <a href={werkzeuge.path} class="block">Hier ansehen</a>
            </li>
          </ul>
        </li>

        <li>
          <Badge look="gray">Januar 2026</Badge>
          <ul>
            <li>
              Launch der Website des Zentrum für Legistik am 5.&nbsp;Januar 2026
            </li>
          </ul>
        </li>
      </TimelineList>
    </section>
  </main>
</Layout>
