---
import Card from "@/components/Card.astro";
import Hero from "@/components/Hero.astro";
import { routes } from "@/config/routes.ts";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import ansatzImg from "./Ansatz.jpg";
import zusammenarbeitImg from "./Zusammenarbeit.png";

export const frontmatter = {
  title: "Über das ZfL",
  sitemap: true,
  isStagingOnly: true,
};
---

<Layout title={frontmatter.title}>
  <main class="breakout-grid">
    <Hero>
      <h1>Zentrale Anlaufstelle für Rechtsetzung</h1>
      <p slot="subtitle">
        Das Zentrum für Legistik unterstützt bei der Gestaltung von Regelungen,
        die adressatenorientiert, praxistauglich und digital umsetzbar sind.<br
        />
        Derzeit wird das Zentrum vom Bundesministerium für Digitales und Staatsmodernisierung
        gemeinsam mit dem DigitalService aufgebaut. Alle Angebote werden dabei im
        engen Austausch mit der Praxis weiterentwickelt.
      </p>
    </Hero>

    <section>
      <div class="flex flex-col gap-32 md:flex-row">
        <div class="md:w-5/12">
          <Image
            src={zusammenarbeitImg}
            alt="Mehrere Personen vor einem großen Whiteboard, an dem sie Klebepunkte an bereits vorhandenen Papieren und Post-its anbringen."
          />
        </div>
        <div class="md:w-7/12">
          <h2 class="kern-heading-large">Wirkung der Zusammenarbeit</h2>
          <p>
            Wir unterstützen Sie dabei, Umsetzungsprozesse zu verstehen und
            Anforderungen an praxisnahe und bürokratiearme Regelungen
            umzusetzen. Durch Ihre Rechtsetzungs-Expertise in Kombination mit
            Methoden aus der agilen Software-Entwicklung entstehen somit
            praxistaugliche und zukunftsfähige Gesetze, die unter anderem die
            Potenziale der Digitalisierung bestmöglich ausschöpfen.
          </p>
        </div>
      </div>
    </section>

    <section class="breakout bg-lavender-400">
      <div class="flex flex-col-reverse gap-32 md:flex-row-reverse">
        <div class="md:w-5/12">
          <Image
            src={ansatzImg}
            alt="Eine großflächigen Grafik einer Glaswand. Sie zeigt verschiedenfarbige Kreisen mit Textinhalten."
          />
        </div>
        <div class="md:w-7/12">
          <h2 class="kern-heading-large">Wo wir ansetzen</h2>
          <p>
            Rechtsetzung kann noch wirksamer werden, wenn sie von Anfang an die
            technischen Realitäten und die Bedarfe der Betroffenen
            berücksichtigt. Über die Jahre ist eine Vielzahl von Checklisten und
            Arbeitshilfen entstanden. Diese bestehenden Angebote lassen sich
            bündeln und durch neue Arbeitsweisen sinnvoll ergänzen. So entsteht
            ein verlässliches Serviceangebot, das den gesamten
            Gesetzgebungsprozess unterstützt.
          </p>
        </div>
      </div>
    </section>

    <section>
      <h2 class="kern-heading-large">Unsere Angebote</h2>
      <p>
        Das Serviceangebot wird laufend mit den Nutzerinnen und Nutzern
        weiterentwickelt und umfasst derzeit drei Schwerpunkte:
      </p>

      <div class="mt-40 flex flex-col gap-32 md:w-full md:flex-row md:gap-64">
        <div
          class="md:size-lg flex h-auto w-full flex-col gap-8 md:flex-1 md:gap-32"
        >
          <Icon class="feature-icon" name="ic:twotone-computer" />
          <div class="space-y-8">
            <h3>Website</h3>
            <p>
              Bereitstellung von <a href={routes.werkzeuge.path}
                >Anleitungen, Vorlagen, Werkzeugen und Methoden</a
              >
              für wirksame Rechtssetzung.
            </p>
          </div>
        </div>
        <div
          class="flex h-auto w-full flex-col gap-8 md:h-[298px] md:flex-1 md:gap-32"
        >
          <Icon class="feature-icon" name="ic:twotone-groups" />
          <div class="space-y-8">
            <h3>Interdisziplinäre Begleitung</h3>
            <p>
              <a href={routes.begleitungen.path}>Unterstützung von Vorhaben</a> durch
              Teams aus Design, Nutzerforschung, Softwareentwicklung und Produktmanagement.
            </p>
          </div>
        </div>
        <div
          class="flex h-auto w-full flex-col gap-8 md:h-[298px] md:flex-1 md:gap-32"
        >
          <Icon class="feature-icon" name="ic:twotone-school" />
          <div class="space-y-8">
            <h3>Schulungen</h3>
            <p>
              <a href={routes.schulungen.path}>
                Vermittlung von Methodenwissen
              </a>
              in virtuellen Formaten und Workshops.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section>
      <Card
        look="blue"
        class="flex justify-center py-48 max-md:rounded-none md:py-56"
      >
        <h2 class="text-inherit">Wie wir arbeiten</h2>
        <p>
          Themen an denen wir aktuell arbeiten finden Sie auf dieser Seite: <a
            href={routes.ueber_dasIstNeu.path}>Daran arbeiten wir</a
          >.
        </p>
      </Card>
    </section>

    <section class="breakout bg-lavender-400">
      <h2>Politischer Auftrag</h2>
      <p>
        Der Auftrag ist in der <a
          href="https://bmds.bund.de/fileadmin/BMDS/Dokumente/Modernisierungsagenda_barrierefrei.pdf"
          >Modernisierungsagenda des Bundes</a
        > (Abschnitt II "Bessere Rechtsetzung") und der föderalen Modernisierungsagenda
        (Fünftes Kapitel) verankert. Als zentrale Plattform unterstützen wir dabei,
        praxisnahes, adressatenorientiertes, digital gut umsetzbares und bürokratiearmes
        Recht zu erarbeiten. Wir bauen auf den Erfahrungen des Digitalcheck auf, den
        der DigitalService seit 2023 anbietet.
      </p>
    </section>
  </main>
</Layout>

<style>
  @reference "@/styles/global.css";

  .feature-icon {
    @apply text-cosmic-blue-400 bg-lavender-400 size-[110px] flex-none rounded-sm px-[18px] py-[22px];
  }
</style>
