---
import Card from "@/components/Card.astro";
import Hero from "@/components/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import ansatzImg from "./Ansatz.jpg";
import zusammenarbeitImg from "./Zusammenarbeit.png";
import { ZFL_EMAIL, ZFL_PHONE } from "@/config/constants.ts";
import InteractiveCard from "@/components/InteractiveCard.astro";
import {
  begleitungen,
  home,
  schulungen,
  ueber_dasIstNeu,
  ueber_zahlenUndFakten,
} from "@/config/routes.ts";

export const frontmatter = {
  title: "Über uns",
  sitemap: true,
  isStagingOnly: false,
};

const contactId = "kontaktieren-sie-uns";
---

<Layout title={frontmatter.title}>
  <main class="breakout-grid">
    <Hero class="bg-lavender-400">
      <h1>Über das Zentrum für Legistik</h1>
      <p class="kern-subline kern-subline--large" slot="subtitle">
        Die zentrale Anlaufstelle für bessere Rechtsetzung
      </p>
      <p slot="subtitle">
        Das Zentrum für Legistik (ZfL) unterstützt Legistinnen und Legisten bei
        der Ausarbeitung von Regelungen, die adressatenorientiert,
        bürokratiearm, praxis- und digitaltauglich sind. Bewährte Hilfsangebote
        und Methoden der besseren Rechtsetzung werden schrittweise
        zusammengeführt, weiterentwickelt und auf der ZfL-Plattform zur
        Verfügung gestellt. Dadurch soll die Rechtsetzung vereinfacht und von
        bürokratischem Aufwand entlastet werden.
      </p>
    </Hero>

    <section>
      <div class="flex flex-col gap-32 md:flex-row">
        <div class="md:w-5/12">
          <Image
            src={ansatzImg}
            alt="Eine großflächige Grafik an einer Glaswand. Sie zeigt verschiedenfarbige Kreise mit Textinhalten."
          />
        </div>
        <div class="md:w-7/12">
          <h2 class="kern-heading-large pt-0">Auftrag</h2>
          <p>
            Die <a
              href="https://bmds.bund.de/fileadmin/BMDS/Dokumente/Modernisierungsagenda_barrierefrei.pdf"
              >Modernisierungsagenda des Bundes für Staat und Verwaltung</a
            > gibt vor, neue Regelungen von Anfang an so zu gestalten, dass sie bei
            den Bürgerinnen und Bürgern sowie Unternehmen zielgerichtet wirken. Mit
            dem Zentrum für Legistik wird ein zentraler Baustein aus dem Handlungsfeld
            II „Bessere Rechtsetzung” bereitgestellt. Legistinnen und Legisten der
            Bundesverwaltung werden durch den Zugang zu Unterstützungsangeboten und
            Schulungen die erforderlichen Methoden für eine zeitgemäße Rechtsetzung
            vermittelt. Die Angebote sollen perspektivisch auch für Länder, Kommunen
            und andere öffentliche Körperschaften nutzbar sein. Damit schafft das
            Zentrum für Legistik die Grundlage für Regelungen, die in der Praxis wirksam
            sind.
          </p>
        </div>
      </div>
    </section>

    <section class="breakout bg-lavender-400">
      <h2 class="kern-heading-large">Unsere Angebote</h2>
      <div class="grid grid-cols-1 gap-x-120 gap-y-16 md:grid-cols-2">
        <p class="mb-0">
          Das Zentrum für Legistik stellt mehrere Unterstützungsangebote zur
          Verfügung. Die Angebote werden kontinuierlich und in engem Austausch
          mit der Praxis weiterentwickelt.
        </p>
        <div class="md:col-start-2 md:row-span-2 md:row-start-1">
          <ul class="list-unstyled">
            <li>
              <a href={home.path} class="kern-link text-2xl font-bold"
                ><Icon
                  name="ic:round-arrow-forward"
                  class="mr-4 inline size-32"
                  aria-hidden="true"
                />Webseite</a
              >
            </li>
            <li>
              <a href={begleitungen.path} class="kern-link text-2xl font-bold"
                ><Icon
                  name="ic:round-arrow-forward"
                  class="mr-4 inline size-32"
                  aria-hidden="true"
                />Regelungsbegleitung</a
              >
            </li>
            <li>
              <a href={schulungen.path} class="kern-link text-2xl font-bold"
                ><Icon
                  name="ic:round-arrow-forward"
                  class="mr-4 inline size-32"
                  aria-hidden="true"
                />Schulungen</a
              >
            </li>
          </ul>
        </div>
        <div class="md:col-start-1 md:row-start-2">
          <p>
            Sie möchten uns Rückmeldung geben oder in den Pool der
            Service-Testenden aufgenommen werden?
          </p>
          <a href={"#" + contactId}
            ><Icon
              name="ic:round-arrow-downward"
              class="mr-4 inline size-24"
              aria-hidden="true"
            />Unterstützen Sie uns bei der Entwicklung des Angebots</a
          >
        </div>
      </div>
    </section>

    <section>
      <div class="flex flex-col gap-32 md:flex-row">
        <div class="md:w-7/12">
          <h2 class="kern-heading-large mb-16 pt-0">Herangehensweise</h2>
          <p>
            Das Zentrum für Legistik nimmt den gesamten Gesetzgebungsprozess vom
            ersten Entwurf bis zur praktischen Umsetzung in den Blick. Der Fokus
            liegt dabei auf der inhaltlichen Erarbeitung von Regelungen – also
            dem Zeitraum, bevor der eigentliche Regelungstext geschrieben wird.
            Perspektiven von Bürgerinnen und Bürgern, Unternehmen und Verwaltung
            sollen hier frühzeitig einbezogen und bei der weiteren Ausgestaltung
            der Regelungen berücksichtigt werden. Dieses Vorgehen empfiehlt auch
            der Nationale Normenkontrollrat (NKR): <a
              href="https://www.normenkontrollrat.bund.de/Webs/NKR/DE/veroeffentlichungen/gutachten/_documents/2019-10-erst-der-inhalt-dann-die-paragraphen.html"
              >Erst der Inhalt, dann die Paragrafen</a
            >.
          </p><p>
            Bei der Entwicklung der Angebote gehen Theorie und Praxis Hand in
            Hand: Durch die methodische Begleitung konkreter Regelungsvorhaben
            fließen Erkenntnisse aus der Umsetzung unmittelbar zurück in die
            Weiterentwicklung der einzelnen Services. Dieses iterative Vorgehen
            ermöglicht es, laufend aus der Praxis zu lernen und die Rechtsetzung
            nachhaltig zu modernisieren.
          </p>
          <a
            href="https://digitalservice.bund.de/blog/wie-wir-am-zentrum-fuer-legistik-arbeiten"
            >Mehr zum Arbeitsmodus erfahren</a
          >
        </div>
        <div class="md:w-5/12">
          <Image
            src={zusammenarbeitImg}
            alt="Mehrere Personen vor einem großen Whiteboard, an dem sie Klebepunkte an bereits vorhandenen Papieren und Post-its anbringen."
          />
        </div>
      </div>
    </section>

    <section>
      <div class="gap-md mb-md grid grid-cols-1 md:grid-cols-2">
        <InteractiveCard
          href={ueber_dasIstNeu.path}
          title="Das ist neu"
          subline="Aktuelle Arbeitspakete in Konzeption und Umsetzung"
        >
          {/* preliminary content while we wait for the new page */}
        </InteractiveCard>
        <InteractiveCard
          href={ueber_zahlenUndFakten.path}
          title="Zahlen und Fakten"
          subline="Das Zentrum für Legistik leistet einen messbaren Beitrag zur
          Modernisierung der Rechtsetzung."
        />
      </div>
      <Card
        id={contactId}
        look="blue"
        class="flex justify-center py-48 max-md:rounded-none md:py-56"
      >
        <h2 class="text-inherit">Kontakt</h2>
        <p>
          Sie haben Fragen zum Zentrum für Legistik oder den einzelnen
          Angeboten? Kontaktieren Sie uns.
        </p>
        <ul class="list-unstyled flex flex-col gap-16">
          <li>
            Telefon: <a href={ZFL_PHONE.url}>
              {ZFL_PHONE.display}
            </a>
          </li><li>
            E-Mail: <a href={ZFL_EMAIL.url}>
              {ZFL_EMAIL.display}
            </a>
          </li>
        </ul>
      </Card>
    </section>
  </main>
</Layout>
