---
import { Image } from "astro:assets";
import { ZFL_EMAIL, ZFL_PHONE } from "@config/constants";
import bmdsLogo from "@images/logo/bmds-logo.png";

type FooterItem = { url: string; label: string; prefix?: string };

const footerColumns: Record<string, FooterItem[]> = {
  Unterstützungsangebote: [
    { prefix: "Support: ", url: ZFL_PHONE.url, label: ZFL_PHONE.display },
    {
      prefix: "Per Mail: ",
      url: ZFL_EMAIL.url,
      label: ZFL_EMAIL.display,
    },
    { url: "/begleitungen", label: "Begleitungen" },
    { url: "/schulungen", label: "Schulungen" },
  ],
  "Über das Ziel": [
    { url: "/zahlen-und-fakten", label: "Zahlen und Fakten" },
    { url: "/daran-arbeiten-wir", label: "Daran arbeiten wir" },
  ],
  "": [
    { url: "/impressum", label: "Impressum" },
    { url: "/datenschutz", label: "Datenschutzerklärung" },
    { url: "/barrierefreiheit", label: "Barrierefreiheit" },
    { url: "/sitemap", label: "Sitemap" },
  ],
};
---

<footer
  class="ds-label-03-reg border-zfl-main20 flex w-full flex-row justify-center border-t-2 leading-snug text-gray-900 print:hidden"
>
  <div class="w-full max-w-6xl space-y-32 px-16 py-40 sm:space-y-40">
    <nav
      class="grid grid-cols-1 items-start justify-between gap-32 sm:grid-cols-[repeat(3,minmax(0,18rem))] sm:grid-rows-[auto_auto]"
      aria-label="Schnellübersicht"
    >
      {
        Object.entries(footerColumns).map(([heading, items]) => (
          <div class="row-span-2 grid grid-rows-subgrid gap-8">
            {heading ? <h2 class="ds-label-section">{heading}</h2> : <div />}
            <ul class="list-unstyled flex flex-col gap-8">
              {items.map((item) => (
                <li>
                  {item.prefix}
                  <a
                    class="text-link"
                    class="increase-tap-area"
                    href={item.url}
                  >
                    {item.label}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </nav>
    <hr class="border-zfl-main20 mt-16 w-full border-t-2" />
    <nav aria-label="Externe Verlinkungen" class="space-y-40">
      <div
        class="space-y-16 sm:flex sm:flex-row sm:items-center sm:gap-48 sm:space-y-0"
      >
        <Image
          src={bmdsLogo}
          alt="Logo des Bundesministerium für Digitales und Staatsmodernisierung"
          class="w-128"
        />
        <div class="max-w-2xl space-y-8">
          <h3 class="ds-label-03-bold">Federführung</h3><div
            class="ds-stack ds-stack-8"
          >
            <ul class="list-unstyled flex flex-col gap-8">
              <li>
                Das Zentrum für Legistik entsteht im Auftrag des
                <a class="text-link" href="https://bmds.bund.de/">
                  Bundesministerium für Digitales und Staatsmodernisierung
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</footer>
