---
import Link from "@/components/Link.astro";
import { ZFL_EMAIL, ZFL_PHONE } from "@/config/constants";
import { routes } from "@/config/routes";
import bmdsLogo from "@/images/logo/bmds-logo.png";
import { Image } from "astro:assets";

type FooterItem = { path: string; title: string; prefix?: string };

const footerColumns: Record<string, FooterItem[]> = {
  Unterstützungsangebote: [
    { prefix: "Support: ", path: ZFL_PHONE.url, title: ZFL_PHONE.display },
    { prefix: "Per Mail: ", path: ZFL_EMAIL.url, title: ZFL_EMAIL.display },
    routes.begleitungen,
    routes.schulungen,
    routes.anleitungenUndHilfsmittel,
  ],
  "Über das Ziel": routes.ueberUns.children ?? [],
  "": [
    routes.impressum,
    routes.datenschutz,
    routes.barrierefreiheit,
    routes.sitemap,
  ],
};
---

<footer
  class="ds-label-03-reg border-lavender-base flex w-full flex-row justify-center border-t-2 leading-snug text-gray-900 print:hidden"
>
  <div class="w-full max-w-6xl space-y-32 px-16 py-40 sm:space-y-40">
    <nav
      class="grid grid-cols-1 items-start justify-between gap-32 sm:grid-cols-[repeat(3,minmax(0,18rem))] sm:grid-rows-[auto_auto]"
      aria-label="Schnellübersicht"
    >
      {
        Object.entries(footerColumns).map(([heading, items]) => (
          <div class="row-span-2 grid grid-rows-subgrid gap-8">
            {heading ? <h2 class="ds-label-section">{heading}</h2> : <div />}
            <ul class="list-unstyled flex flex-col gap-8">
              {items.map((item) => (
                <li>
                  {item.prefix}
                  <Link class="increase-tap-area" href={item.path}>
                    {item.title}
                  </Link>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </nav>
    <hr class="border-lavender-base mt-16 w-full border-t-2" />
    <nav aria-label="Externe Verlinkungen" class="space-y-40">
      <div
        class="space-y-16 sm:flex sm:flex-row sm:items-center sm:gap-48 sm:space-y-0"
      >
        <Image
          src={bmdsLogo}
          alt="Logo des Bundesministerium für Digitales und Staatsmodernisierung"
          class="w-128"
        />
        <div class="max-w-2xl space-y-8">
          <h3 class="ds-label-03-bold">Federführung</h3><div
            class="ds-stack ds-stack-8"
          >
            <ul class="list-unstyled flex flex-col gap-8">
              <li>
                Das Zentrum für Legistik entsteht im Auftrag des
                <Link href="https://bmds.bund.de/">
                  Bundesministerium für Digitales und Staatsmodernisierung
                </Link>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</footer>
