---
import Kopfzeile from "@/components/global/Kopfzeile.astro";
import { ZFL_EMAIL, ZFL_PHONE } from "@/config/constants";
import { routes } from "@/config/routes";
import { isStaging } from "@/config/stage";
import bundLogoWhite from "@/images/logo/bund-logo-white.svg";
import bundLogo from "@/images/logo/bund-logo.png";
import { removeTrailingSlash } from "@/utils/path";
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import { twMerge } from "tailwind-merge";

const { pathname } = Astro.url;
const currentPath = removeTrailingSlash(pathname);

const headerNavigation = [
  routes.werkzeuge,
  routes.begleitungen,
  routes.schulungen,
  routes.ueberDasZfl,
].filter((item) => isStaging || !item.isStagingOnly);

const kontaktPopoverId = "page-header-contact-popover";
const mobileMenuId = "page-header-mobile-menu";

function navItemStyle(variant: "main" | "sub" = "main", path?: string) {
  return twMerge(
    "link-unstyled border-transparent flex items-center hover:bg-lavender-base",
    variant === "main" ? "h-full border-b-4 px-16" : "border-l-4 p-16",
    currentPath === path && "border-cosmic-blue-base bg-lavender-base",
  );
}
---

<header
  class="page-header border-lavender-base relative border-b-2 [anchor-name:--page-header]"
>
  <Kopfzeile />
  <div class="flex h-72 justify-between px-24">
    <!-- Logo and title -->
    <a href={routes.home.path} class="link-unstyled flex items-center gap-24">
      <Image
        src={bundLogo}
        alt="Logo des Bundes"
        class="w-56 forced-colors:dark:hidden"
      />
      <Image
        src={bundLogoWhite}
        alt="Logo des Bundes"
        class="hidden w-56 forced-colors:dark:block"
      />
      <p class="text-xl font-bold max-[1050px]:hidden">Zentrum für Legistik</p>
    </a>

    <!-- Desktop Navigation -->
    <nav class="hidden min-[900px]:flex" data-testid="desktop-nav">
      {
        headerNavigation.map((item) => (
          <a href={item.path} class={navItemStyle("main", item.path)}>
            {item.title}
          </a>
        ))
      }
      <button
        type="button"
        class={navItemStyle()}
        popovertarget={kontaktPopoverId}
      >
        Kontakt
        <span
          class="contact-toggle-icon kern-icon kern-icon--arrow-down ml-4 transition-transform"
          aria-hidden="true"></span>
      </button>
      <div
        id={kontaktPopoverId}
        popover="auto"
        class="contact-popover border-lavender-base m-0 gap-8 border-2 border-t-0 bg-white px-16 py-12"
      >
        <p>Support: <a href={ZFL_PHONE.url}>{ZFL_PHONE.display}</a></p>
        <p>
          Per Mail:
          <a href={ZFL_EMAIL.url}>{ZFL_EMAIL.display}</a>
        </p>
      </div>
    </nav>

    <!-- Mobile Menu Toggle -->
    <div class="flex min-[900px]:hidden">
      <a
        href={ZFL_PHONE.url}
        class={navItemStyle("main")}
        aria-label={ZFL_PHONE.display}
      >
        <Icon name="ic:twotone-phone-enabled" class="size-24 -scale-x-100" />
      </a>
      <button
        type="button"
        class={twMerge(navItemStyle("main"), "mobile-menu-toggle")}
        popovertarget={mobileMenuId}
        aria-label="Menü öffnen / schließen"
        aria-controls={mobileMenuId}
      >
        <Icon name="ic:twotone-menu" class="mobile-menu-closed-icon size-24" />
        <Icon
          name="ic:twotone-menu-open"
          class="mobile-menu-open-icon size-24"
        />
      </button>
    </div>
  </div>
  <!-- Mobile Navigation -->
  <nav
    id={mobileMenuId}
    popover="auto"
    class="mobile-menu-popover m-0 w-auto max-w-none bg-white min-[900px]:hidden"
  >
    {
      headerNavigation.map((item) => (
        <a href={item.path} class={navItemStyle("sub", item.path)}>
          {item.title}
        </a>
      ))
    }
    <div class="ml-4 p-16 text-gray-800">
      Kontakt:{" "}
      <a href={ZFL_EMAIL.url}>{ZFL_EMAIL.display}</a>
    </div>
  </nav>
</header>

<style>
  @supports not (top: anchor(bottom)) {
    .contact-popover,
    .mobile-menu-popover {
      position: absolute;
      /* 32px is the height of the Kopfzeile, 72px is the height of the header */
      top: calc(32px + 72px);
    }

    .contact-popover {
      right: 24px;
      left: auto;
    }

    .mobile-menu-popover {
      left: 0;
    }
  }

  @supports (top: anchor(bottom)) {
    .contact-popover {
      inset: auto;
      top: anchor(bottom);
      right: anchor(right);
    }
    .mobile-menu-popover {
      position-anchor: --page-header;
      top: calc(anchor(bottom) - 2px);
    }
  }

  .page-header:has(.contact-popover:popover-open) .contact-toggle-icon {
    transform: rotate(180deg);
  }

  .page-header:has(.mobile-menu-popover:popover-open) .mobile-menu-toggle {
    border-color: var(--color-cosmic-blue-base);
    background-color: var(--color-lavender-base);
  }

  .page-header:has(.mobile-menu-popover:popover-open) .mobile-menu-closed-icon,
  .page-header:not(:has(.mobile-menu-popover:popover-open))
    .mobile-menu-open-icon {
    display: none;
  }
</style>
