---
import DrilldownNavigation from "@/components/global/DrilldownNavigation.astro";
import { getSectionNavigation } from "@/utils/navigation/drilldown";

const navigation = getSectionNavigation(Astro.url.pathname);
const initialDepth = navigation?.activePanel.depth;
const sidebarState = navigation
  ? `{ currentPanel: "${navigation.activePanel.id}", currentDepth: ${initialDepth} }`
  : null;
---

{
  navigation && (
    <nav
      aria-label="Abschnittsnavigation"
      class="data-[depth=1]:bg-form-input-background bg-lavender-base hidden overflow-auto border-r border-neutral-300 min-[900px]:sticky min-[900px]:top-0 min-[900px]:flex min-[900px]:h-screen min-[900px]:flex-col"
      x-data={sidebarState}
      data-depth={initialDepth}
      x-bind:data-depth="currentDepth"
    >
      <div class="">
        <DrilldownNavigation
          navigation={navigation}
          panelIdPrefix="section-sidebar"
        />
        {Astro.slots.has("extra") && (
          <div>
            <slot name="extra" />
          </div>
        )}
      </div>
    </nav>
  )
}

<style>
  nav[data-depth="1"] {
    --active-item-bg-color: var(--color-lavender-surface-highlight);
  }
</style>
